{% extends 'admin/base.html' %}
{% block tail %}

<script src="{{ url_for('static', filename='js/expanding.js') }}" type="text/javascript"></script>

<script>
//the admin template dont use jquqey, so added with vanila js. ps: tryed addin jquery here, but it conflicts with tags formating, not recommend.
var textarea = document.querySelector('textarea');
var expanding = new Expanding(textarea);

//$(document).ready(function () {

//$('.btn').hide();

//start automatic expanding js in all textareas
//$("textarea.form-control").expanding();
//});

</script>

{% endblock %}
