<div class="music-player">
  <ul class="playlist" style="display:none;">
    <li audiourl="{{ url_for('static', filename='music/evening_star-tyr.mp3') }}" artist="01 - Evening Star - Tyr" class="active-song"></li>
    <li audiourl="{{ url_for('static', filename='music/lateralus-tool.mp3') }}" artist="02 - Lateralus - Tool"></li>
    <li audiourl="{{ url_for('static', filename='music/offend_in_every_way-white_stripes.mp3') }}" artist="03 - Offend In Every Way - The White Strips"></li>
  </ul>
  <!-- The symbol # is better pratice than javascript:; inisde an empty href, but had already a code to slow scrool all href with # inner anchors, so was easier this way-->
  <div class="music-controls"><a href="javascript:;" class="music-back"></a><a href="javascript:;" class="play-pause music-play"></a><a href="javascript:;" class="music-forward"></a></div>
  <div class="music-title">01 - Evening Star - Tyr</div>

<audio id="music_player" preload="auto">
  <source class="song_mp3" src="{{ url_for('static', filename='music/evening_star-tyr.mp3') }}" type="audio/mpeg">
  <!-- ogg li que é melhor relação qualidade tamanho -->
  Your browser is old and does not support the audio element, please update or change browser.
</audio>
</div> <!--music-player-->
  
  <script>
var songs = [
    ["01 - Evening Star - Tyr", "{{ url_for('static', filename='music/evening_star-tyr') }}"],
    ["02 - Lateralus - Tool", "{{ url_for('static', filename='music/lateralus-tool') }}"],
    ["03 - Offend In Every Way - The White Strips", "{{ url_for('static', filename='music/offend_in_every_way-white_stripes') }}"]
];

$(document).ready(function() {
var music_player = document.getElementById("music_player");
music_player.load(); //força preload do início
var songc_mp3 = document.getElementById("song_mp3");
//var song_ogg = document.getElementById("song_ogg");
var song_active = 0;
var song_total = songs.length;

//play or pause
$(".play-pause").click(function(e) {
    e.preventDefault();
	if (music_player.paused) {
		music_player.play();
        $(this).removeClass("music-play")
        $(this).addClass("music-pause")
	} else {
		music_player.pause();
        $(this).removeClass("music-pause")
        $(this).addClass("music-play")
	}
});

// next song
$('.music-forward').click(function (e) {
    e.preventDefault();

    //next song or restart list if out of entries
    song_active = song_active + 1;
    if (!songs[song_active]) {
        song_active = 0;
    }

//load mp3 or ogg
    if (music_player.canPlayType('audio/mpeg;')) {
        music_player.type= 'audio/mpeg';
        music_player.src= songs[song_active][1] + ".mp3";
    } else {
        music_player.type= 'audio/ogg';
        music_player.src= songs[song_active][1] + ".ogg";
    }
    music_player.load();
    music_player.play();
    $('.play-pause').removeClass("music-play")
    $('.play-pause').addClass("music-pause")

    //change info text
    $('.music-title').text(songs[song_active][0]);

});

// previous song
$('.music-back').click(function (e) {
    e.preventDefault();

    //previous song or go to end of list if out of entries
    song_active = song_active - 1;
    if (song_active < 0) {
        song_active = song_total - 1;
    }

    //load mp3 or ogg
    if (music_player.canPlayType('audio/mpeg;')) {
        music_player.type= 'audio/mpeg';
        music_player.src= songs[song_active][1] + ".mp3";
    } else {
        music_player.type= 'audio/ogg';
        music_player.src= songs[song_active][1] + ".ogg";
    }
    music_player.load();
    music_player.play();
    $('.play-pause').removeClass("music-play")
    $('.play-pause').addClass("music-pause")

    //change info text
    $('.music-title').text(songs[song_active][0]);

});

});
</script>