{% extends "layout.html" %}
{% block head %}
<meta property="fb:app_id" content="445383449233338" />
<meta property="fb:admins" content="100000573104190" />
<meta property="og:title" content="#{{ post.id }} {{ post.title }}" />
<meta property="og:description" content="Blog post. Paulo Jorge PM - Homepage." />
<meta property="og:url" content="http://www.paulojorgepm.net/blog/{{ post.id }}" />

<style type="text/css">
.fb-comments, .fb-comments iframe {width: 100% !important;}
.fb-comments span {width: 100% !important;}
</style>
{% endblock %}

{% block body %}
<!--facebook JS-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.12&appId=445383449233338&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}

<div id="left">

{# for post in posts #}
<ul class="posts">
<li>
<article>
<h1><span style="background:#ffffff;">#{{ post.id }} </span><a href="{{ url_for('blog', page=post.id) }}">{{ post.title }}</a></h1>
<span class="date">{{ post.pub_date }}{# =str(post['data_pub'])[0:-3].replace('-', '/') #}</span>
<p class="post-text">
{{ post.body|safe }}
</p>

<div class="post-bar"><div class="comments_count"><span><div class="fb-like" data-href="http://www.paulojorgepm.net/blog/{{post.id}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false" style="margin-right:10px;"></div> (<span class="fb-comments-count" data-href="http://www.paulojorgepm.net/blog/{{post.id}}"></span>) comentários <img src="{{ url_for('static', filename='images/comments.png') }}"></span></div>{% if post.tags %}<div class="tags"><span>Tags:</span> {% for t in post["tags"]|sort(attribute='tag') %}<a href="{{ url_for('tags') + "?tag="}}{{ t }}">{{ t }}</a>{% endfor %}</div>{% endif %}</div>
</article>
</li>
</ul>

<br><br>

<div style="width:100%;">
<div class="fb-comments" data-href="http://www.paulojorgepm.net/blog/{{post.id}}" data-colorscheme="light" data-order-by="time" data-width="100%" data-numposts="50"></div>
</div>

{# endfor #}


</div><!--left-->

{% include 'right.html' %}

{% endblock %}
