<div class="comments-box c{{=post['id']}}">

<div style="display:inline-block;float:right;"><span style="font-weight:bold;margin-right:10px;background:#000;color:#fff;padding:3px 5px;">PÁGINA:</span> <a href="#" class="btn">Anterior</a> <a href="#" class="btn">Próxima</a></div>

{{if auth.user:}}<a href="#" class="btn">Editar Perfil</a> &nbsp;&nbsp; <a href="{{=URL('default', 'logout')}}" class="btn">Logout</a>
{{else:}}<a href="#comment_button" class="btn" id="comment_button">Comentar</a>
{{pass}}

<br>
<br>

        {{if comment_status:}}
        {{if comment_status=="accepted":}}
        <div style="background:green;color:#ffffff;padding:2px 10px;font-weight:bold;">Sucesso: comentário submetido!</div>
        {{elif comment_status=="errors":}}
        <div style="background:red;color:#ffffff;padding:2px 10px;font-weight:bold;">Erro: comentário não submetido</div>
        {{pass}}
        {{pass}}


<div class="new-comment">
<div class="anonym-img-overlay" style="display:none;"><span class="anonym-img"></span><!--<img src="{{=URL('static', 'images/anonimo.png')}}">--></div>
<div class="new-comment-overlay">
{{if auth.user:}}
<p class="new-comment-bar ellipsis">{{=auth.user["name"]}} | {{=auth.user["email"]}} | {{=auth.user["url"]}}</p>
<!--<div class="comment-bar" style="background:none;color:gray;padding:2px 0px;font-size:12px;width:100%;">
<span style="display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{=auth.user["name"]}} | {{=auth.user["email"]}} | {{=auth.user["url"]}}</span>
</div>-->
<div class="comment-form">
{{=comment}}
</div>
{{else:}}
<p class="new-comment-bar"><a href="#login_form" class="active-form button_login">Login</a> | <a href="#register_form" class="button_register">Registar</a> | <a href="#" class="button_recover">Recuperar Password</a> | <a href="#" class="button_anonymous">Comentar Anónimo</a></p>
<div class="login_form">
{{=login_form}}
</div>
<div class="register_form">
{{=register_form}}
</div>
<div class="recover_form">
{{=auth.retrieve_password()}}
<form action={{=URL('default','recoverye-mail')}}></form>
</div>
{{pass}}
</div><!--new-comment-overlay-->
</div><!--new-comment-->


<script>
$(document).ready(function () {

//Show/hide new comment div
$("div.new-comment").hide();
$("#comment_button").click(function() {
    //$("div.new-comment").fadeToggle('fast');
    $("div.new-comment").show(800);
});


$("div.register_form").hide();
$("div.recover_form").hide();

//change form active
$(".new-comment-bar a").click(function() {

//hide old form
if ( $(".new-comment-bar a.active-form").hasClass("button_login") ) {
    $("div.login_form").hide();
} else if ( $(".new-comment-bar a.active-form").hasClass("button_register") ) {
    $("div.register_form").hide();
} else if ( $(".new-comment-bar a.active-form").hasClass("button_recover") ) {
    $("div.recover_form").hide();
}

$(".new-comment-bar a.active-form").removeClass("active-form");

$(this).addClass("active-form");

//show new form
//hide old form
if ( $(this).hasClass("button_login") ) {
    $("div.login_form").show();
} else if ( $(this).hasClass("button_register") ) {
    $("div.register_form").show();
} else if ( $(this).hasClass("button_recover") ) {
    $("div.recover_form").show();
}

});

//image transparency change on form fill
$('.new-comment form .w2p_fw > *').keyup(function() {
    var tags_total = 0
    var tags_filled = 0
    $('.new-comment form .w2p_fw > input[type=text]').each(function(){
        tags_total += 1
        if( $(this).val() ) {
            tags_filled += 1
        }
    });
    //regra de três simples para determinar percentagem; ps: em cs a opacity de 100% corresponde a 1
    var new_opacity = tags_filled * 1 / tags_total
    if (new_opacity > 0) {
    $('.anonym-img').css('opacity', new_opacity)
    }
    else {
        $('.anonym-img').css('opacity', 0.1)
    }
});

});
</script>






<script src="{{=URL('static','js/expanding.js')}}" type="text/javascript"></script>

<script type="text/javascript">
/*$(document).ready(function () {
    function newComment() {
    $('.new-comment tr:not(#comments_comment_text__row)').toggle('normal');
    $('#comments_comment_text__row textarea').toggleClass("textarea-mini");
    }
    newComment();
    $('.textarea-mini').click(function(){
    //newComment();
    $('.new-comment tr:not(#comments_comment_text__row)').show('normal');
    $('#comments_comment_text__row textarea').removeClass("textarea-mini");
    //plugin for auto size textarea while writing
    $("textarea").expanding();
    });
});*/
</script>


<br>

{{if comments:}}
<h3>Comentários:</h3>

<div id="comments">
{{for c in comments:}}
    {{user_info = db(db.auth_user.id == c['user_id']).select().first()}}
    <div id="comment-id-{{=c['id']}}" class="body-comments">
        <p class="comment-author">Por <strong>{{=user_info['name']}}</strong> {{if user_info['url']:}}[<a href="{{=user_info['url']}}" target="_blank">website</a>]{{pass}} em {{=c['data_pub']}}</p>
        <pre><!--<img src="{{=URL('static', 'images/comment-anonimo.png')}}" style="float:left;">-->{{=c['comment_text'].strip()}}</pre>
    </div>
{{pass}}
</div>
{{pass}}

</div> <!--comments-box-->