{% extends "layout.html" %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div id="left">

<div id="newsletter"></div>
<h1>{% if lang == "en" %}Subscribe to the newsletter{% else: %}Subscrever Newsletter{% endif %}:</h1>
<p style="color:gray;font-size:14px;">Ao subscrever receberá um e-mail sempre que forem publicados novos conteúdos.</p>

<div class="join-newsletter"><form action="{{ url_for('contact') }}" method="post"><span style="color:#ffffff;">E-mail: </span> <input type="text" name="email" placeholder="Insira o seu e-mail"{% if mail: %} value="{{ mail }}"{% endif %} />

<p style="color:#ff0206;font-size:14px;margin-top:10px;margin-bottom:0px;">Confirme que não é spam:</p>
{{ recaptcha }}
<input type="submit" value="Enviar" /></form></div>

<br>
<br>
<br>
<h1>E-mail:</h1>

<p>paulo.jorge.pm&#x00040;gmail.com</p>


<br>
<h1>{% if lang == "en" %}Networks{% else: %}Redes{% endif %}:</h1>

<p><a href="{{ url_for('rss') }}" class="hover-effect" target="_blank" title="RSS"><img src="{{ url_for('static', filename='images/rss.png') }}" class="hover-img"></a> &nbsp; <a href="https://bitbucket.org/Paulo-Jorge" class="hover-effect" target="_blank" title="Bitbucket"><img src="{{ url_for('static', filename='images/bitbucket.png') }}" class="hover-img"></a> &nbsp; <a href="https://www.facebook.com/paulo.jorge.pm" class="hover-effect" target="_blank" title="Facebook"><img src="{{ url_for('static', filename='images/facebook.png') }}" class="hover-img"></a> &nbsp; <a href="http://paulo-jorge-pm.tumblr.com" target="_blank" title="Tumblr"><img src="{{ url_for('static', filename='images/tumblr.png') }}"></a> &nbsp; <a href="https://www.youtube.com/user/Toaki5" class="hover-effect" target="_blank" title="Youtube"><img src="{{ url_for('static', filename='images/youtube.png') }}" class="hover-img"></a></p>

<br>
<br>

<h1>Privacy Policy / Copyright:</h1>
<p>Open-source rules, you are free to use any content - MIT license style.</p>
<!--
<h1>Privacy Policy / Copyright:</h1>
<p>Alguns países exigem um texto público sobre política de privacidade e uso dos dados em todos os websites (como cookies, sistemas de login, armazenamento de passwords, etc.) para além da infame leia europeia de proteção de dados (RGPD). A minha política é simples: todos os sites recolhem dados obrigatoriamente nem que seja o IP, mas não quero saber dos dados de ninguém a não ser criar uma boa experiência de navegação; quanto a copyright tudo o que está exposto no website é Open Source - façam o que quiserem com o meu trabalho desde que seja para um bom fim e sem mentir sobre a autoria. Quem por cá navegar tem que ter a mesma atitude anarca.</p>
<p>Nesta era privicidade na internet é uma utopia, as grandes empresas são piores do que o <em>Big Brother</em>, espiam tudo o que podem e não podem. Exigir políticas de privacidade rigorosas a webmasters <em>small fry</em> é uma palhaçada e apenas causa confusão aos utilizadores comuns que pouco percebem de informática. Por exemplo, atualmente por toda a internet há mensagens a avisar que o website usa cookies, por imposição legal: <em>you don't say Sherlock Holmes</em>, claro que no século XXI 99% dos websites usam cookies, não vamos colocar os utilizadores a fazer novamente login sempre que mudam de página ou visitam mais tarde! Tecnicamente é possível usar outros métodos, mas não quero complicar o assunto. Há bastantes anos que a funcionaldiade dos cookies é usada e ninguém lhe dava importância, porquê complicar agora a meio do campeonato quando é algo semi-inofensivo? Em 90% dos casos os cookies são usados apenas para melhorar a experiência de navegação, aliás, são apenas ficheiros de texto que não permitem executar nada de mal num computador, o único inconveniente prende-se com o uso abusivo e mal-intencionado de terceiros para recolha de informação para fins de marketing (saber que sites visitou, a que horas, etc.). E aqui voltamos à questão incial: e quem faz esse tipo de uso abusivo? - na maioria as grandes companhias (Google, Facebook, etc. <em>I am lookin at you</em>). Websites pequenos nem sequer têm tráfego suficiente para que uma recolha de dados tenha peso comercial. Em segundo lugar, quem quiser realmente roubar alguma coisa ou hackear, teria mil e um métodos muito mais interessantes de o fazer e ninguém saberia! Por essa razão acho uma palhaçada ter sido tornado obrigatório por lei incluir coisas deste género em websites, desde mensagens a avisar do uso de cookies a textos sobre políticas de privacidade pormenorizadas que ninguém lê em websites domésticos; quanto aos cookies <em>who cares</em>? Os utilizadores comuns mortais nem sequer percebem sobre isso, sabem lá o que é um cookie (um nome tão pomposo para um insignificante documento de texto alojado locamente com informações sobre a sessão do utilziador para comunicação entre o website e o servidor?). Para quem não percebe de informática este tipo de alertas apenas causam confusão e pânico por algo tão insignificante - quase toda a gente coloca "permitir" de qualquer forma neste tipo de mensagens, ninguém quer deixar de visitar um website com todas as funcionalidades e comodidade apenas por causa de um insignificante cookie. Quem lançou este tipo de leis deve ser um atado informático velho do restelo, é totalmente inútil (BTW, quem percebe de informática e sabe o que é um cookie, pode facilmente consultar estes dados ocultos de navegação carregando apenas junto da barra de endereço do browser, ou usando as ferramentas developer, como um simples botão direito do rato na página e seleccionar "inspecionar" - mas isto dependendo do browser - este tipo de dados nunca estiveram ocultos de ninguém, para quê complicar ao fim de duas décadas em que eles já eram prática comum e ninguém lhes dava atenção?).</p>
<p>O que eu acho irónico é haver tanto alarido com cookies, quando empresas grandalhonas (p.e. a Google) sabem onde cada um anda sempre que tem o GPS do telemóvel ligado; ou a Microsof ter ativo por defeito na instalação do Windows a permissão para recolha de dados, incluindo comandos de voz; ou o Facebook conseguir saber mais sobre nós do que muitos de nós mesmos, por exemplo determinar a inclinação política de cada utilizador e esses dados poderem ser usados em campanhas políticas; etc. Entre mil e outras coisas. Coitados dos cookies, num mundo onde agências como a NSA conseguem ouvir tudo o que falamos no telemóvel, ler tudo o que escrevems na internet, ou ver o que fazemos pela câmara do pc (até empresas de portáties caíram em polémicas por terem back-doors instalados de origem - Lenovo <em>I am looking at you</em> por exemplo) ou nos seguir pelas câmaras nas ruas (etc.), num mundo onde a privacidade passou a ser uma utopia, um cookie que apenas pode influenciar a publicidade que aparece nos anúncios dos websites ou saber que sites andamos a visitar é a última das minhas preocupações.</p>
<p>O facebook obrigava-me a ter um texto público sobre política de privacidade de forma a conseguir ativar o plugin dos comentários nos posts do blog, por isso escrevi isto. Se alguém recolher dados é ele e os irmãos grandes como o google e a microsoft. No meu caso este website é como as tabernas no faroeste: venham cá tomar um copo, passar tempo e descansar pois é tudo boa gente, mas esta terra é de anarquia total e cada um por si, não me chateiem com coisas mesquinhas e inúteis. Se eu quisesse roubar dados a alguém não criava um website público com o meu nome. Aliás, quem não quiser dados pessoais a circular pelo mundo que passe um íman junto do HDD do computador, que parta o telemóvel, que corte os fios elétricos que abastecem a sua casa e construa uma enorme gaiola de Faraday em redor, ou melhor, que vá viver para o meio da floresta longe das loucuras da sociedade moderna - só desta forma terá os dados pessoais 100% privados (mas mesmo assim não sei, com tantos satélites a espreitar no céu há mirones em todo o lado).</p>
<p>Ironias e sarcasmos à parte, a privacidade é uma questão importante, mas acho que não é abordada da forma correta e só está a servir de desculpa para a internet ser cada vez mais controlada e a favor das grandes empresas (o investimento que o RGPD requer da parte das pequenas e médias empresas é absurdo) - viva a internet anarca como o velho oeste!</p>-->

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
