{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1><i>Curriculum vitæ</i></h1>


<div class="icon-box" style="margin-top:20px;"><img src="{{ url_for('static', filename='images/cv.png') }}"><span><!--<strong>CV (Português):</strong> <a href="{{ url_for('static', filename='pdf/cv_pt.pdf') }}" target="_blank">PDF</a> | --><strong>CV:</strong> <a href="{{ url_for('static', filename='pdf/cv.pdf') }}" target="_blank">PDF</a> | <strong>Ciência Vitae [Academia]:</strong> <a href="https://www.cienciavitae.pt/pt/E21C-96CA-84E1" target="_blank">URL</a></span></div>


<!--<div class="icon-box"><img src="{{ url_for('static', filename='images/cv_certificates.png') }}"><span><strong>Certificados:</strong> <a href="{{ url_for('static', filename='pdf/certificate_sarc.pdf') }}" target="_blank">1</a> | <a href="{{ url_for('static', filename='pdf/certificate_incites_thomson_reuters.pdf') }}" target="_blank">2</a> | <a href="{{ url_for('static', filename='pdf/certificate_formador_ccpfc.pdf') }}" target="_blank">3</a> | <a href="{{ url_for('static', filename='pdf/certificate_multi_feel_2012.pdf') }}" target="_blank">4</a> | <a href="{{ url_for('static', filename='pdf/certificate_noite_europeia_inv.pdf') }}" target="_blank">5</a> | <a href="{{ url_for('static', filename='pdf/certificate_ticlinguas.pdf') }}" target="_blank">6</a> | <a href="{{ url_for('static', filename='pdf/certificate_lab_digital.pdf') }}" target="_blank">7</a> | <a href="{{ url_for('static', filename='pdf/certificate_sedll.pdf') }}" target="_blank">8</a> | <a href="{{ url_for('static', filename='pdf/programme_gcii.pdf') }}" target="_blank">9</a> | <a href="https://www.kanazawa-u.ac.jp/e-news/69404" target="_blank">10 (E+)</a></div>-->

<div style="margin-top:50px;font-size:15px;">
<img src="{{ url_for('static', filename='images/eu_sketch.jpg') }}" style="float:right;margin:0 0 5px 5px;">

<p>Sonho morrer escritor. Até lá tenho de trabalhar como um comum mortal. A minha principal área de trabalho neste momento é web designer/developer full stack (mais de uma década de experiência). Apaixonado por computadores, web front-end e back-end, programação, guionismo, cinema, música e videojogos. Qualquer emprego que englobe estas paixões far-me-á feliz, desde que envolvidas numa pitade de criatividade - a vida sem ela não vale a pena.</p>

<p>Não estou ativamente à procura de emprego, mas as portas estão sempre abertas a propostas mais desafiantes dentro das minhas paixões. Se procuram profissionais entre as seguintes áreas, posso estar interessado: deseonvolvimento de aplicações web (front-end e back-end; Flask, Web2py, Django & NodeJS = main tools), programação de <i>software</i> (Python & Rust <3), investigação/docência académica (Literatura, Humanidades Digitais, Linguística Computacional), produção cinematográfica, guionismo, indústria dos videojogos (Godot Engine <3), Natural Language Processing, letrista (compositor de letras de músicas), etc.</p>

<p>Se sonham ser mecenas como na era renascentista sou um candidato feliz. Tenho em ebulição nas entranhas do ser, alguns perto do ponto-caramelo outros em cozedura, romances, livros de poesia, filmes e videojogos. Depois de um cansativo dia de trabalho de comum mortal pela sobrevivência, as olheiras noite dentro não dão para muitas aventuras e ainda não consegui transmutar muito para a dimensão da vida (ir)real. No dia em que conseguir dedicar-me 24h ao que amo, nenhum dia será mais de trabalho, mas sim de amor com a deusa da criatividade. Até lá as minhas fantasias vão a passo de caracol. Este website é o primeiro passo, uma promessa de longa data. O segundo será terminar de programar um Editor de Texto com ferramentas linguísticas embutidas - recuso-me a escrever o meu primeiro livro num Editor de Texto programado por outra pessoa, quero que seja eclodido num berço meu. O terceiro passo será terminar e publicar o meu primeiro livro (quantas insónias já eu não tive a tricota-lo mentalmente!), dar vida a guiões de cinema que trago nas entranhas e conceitos de videojogos que gostava de ver nascer. Depois disso posso morrer feliz.</p>

<p>Sou um autodidata com aspiração a polímata (Leonardo da Vinci FTW!) - um currículo é irrelevante quando alguém tem como filosofia de vida aprender.</p>

<p style="text-align:center;"><em>«O Sonho é o que temos de realmente nosso»</em> - Fernando Pessoa</p>
</div>

<br>

<form action="{{ url_for('send_mail_cv') }}" method="post">
<h3 style="margin:55px 0 15px 0;">Enviar proposta de emprego:</h3>
<table class="table-form">
<tr><td>E-mail:</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td>Descrição:</td>
<td><textarea name="info"></textarea></td>
</tr>
<tr>
<td colspan="2" style="text-align:left;">Confirme que não é spam:</td>
</tr>
<tr>
<td colspan="2" style="text-align:left;">{{ recaptcha }}</td>
</tr>
<tr style="text-align:left;">
<td colspan="2"><input type="hidden" name="type" value="cv"><input type="submit" value="Enviar"></td>
</tr>
</table>
</form>

</form>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
