{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1><i>Erro!</i></h1>

<p>Erro: não foi possível submeter o formulário... Por favor confirme que marcou corretamente o campo anti-spam. Se falhar novamente contacte-me pelo e-mail: paulo.jorge.pm&#x00040;gmail.com</p>

<br>

<p><b>Mensagem original:</b></p>

<p><b>E-mail:</b></p>
<pre style="color:gray;font-size:14px;">{{ mail }}</pre>
{% if txt: %}
<br>
<p><b>Texto:</b></p>
<pre style="color:gray;font-size:14px;">{{ txt }}</pre>
{% endif %}

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
