{% extends "layout.html" %}

{% block content %}
<div id="left">

<img src="{{ url_for('static', filename='images/foto-paulo-index.png') }}" class="index-photo">


<p>Bem-vind@ à minha casa virtual!</p>
<p>Este espaço é um sótão da minha alma, onde partilharei tudo o que normalmente acabaria morto no fundo de uma gaveta: trabalhos, pensamentos e hobbies. Numa era em que as redes sociais estão na moda, programei e desenhei este website como homenagem às homepages e blogs pessoais dos anos 90, pelos quais sempre tive fascínio. A secção <em>CV</em> é a mais desinteressante: divulgação da parte profissional. O <em>Portfólio</em> é uma gaveta de vidro onde partilharei as criações ao longo da vida (websites, videojogos, software, poemas, textos, fotos, músicas, vídeos, trabalhos em madeira, etc.). No topo da página atualizarei, de tempos a tempos, uma playlist com seleção de bandas sonoras. Na galeria de fotos partilharei stock-photos, álbuns conceptuais e pessoais para mais tarde recordar. O <em>Blog</em> é a zona viva do website que ligará tudo o resto, nele partilharei o que a vontade mandar. Esta página de entrada é apenas um resumo das entranhas do website e do autor, serve como panorâmica dos temas que poderei vir a partilhar.</p>

<br>

<h1>Sobre mim</h1>

<p><strong>Adoro:</strong> computadores, cinema, anime/manga, séries, música, livros, rios, pássaros, natureza, videojogos, nuvens, montanhas, animais, fotografia, acordar tarde, batatas fritas e piza, passar o dia inteiro em casa de pijama, aprender coisas novas, jogos de tabuleiro, filosofias orientais, ping pong, bushcraft, micologia, identificar plantas selvagens, web design, linguagens de programação, instrumentos musicais, madeira, etc.</p>

<p><strong>Odeio:</strong> multidões, supermercados, políticos, padres, burocracia, dogmas, touradas, mosquitos, discotecas, conhecer pessoas novas assusta-me, barulho, trânsito, títulos sociais (Dr. Prof., Eng. etc.), acordar cedo, arrumar a casa, eventos sociais, silêncios constrangedores, música pimba, ignorância, etc.</p>

<p><strong>Pessoas que admiro:</strong> Fernando Pessoa, Leonardo da Vinci, Franz Kafka, Nikola Tesla, Kahlil Gibran, Vincent van Gogh, Gautama Buddha, Osho, Lev Tolstoy, Beethoven, Sócrates, Platão, George Carlin, Diógenes, Alan Watts, Friedrich Nietzsche, Jiddu Krishnamurti, etc. Não digo irmãos e amigos de infância porque assim ninguém os aturava.</p>

<p><strong>Sonhos/utopias:</strong> viver algures numa casa de madeira perto de uma floresta, montanha e rio como freelancer, sobrevivendo da minha criatividade (daí este website, como semente desse sonho); ser escritor e publicar livros de ficção e poesia; escrever guiões e realizar um filme ou curta-metragem; programar e desenhar videojogos indie; esboçar maquete de um álbum musical (cantar está fora de questão);<!-- ser o melhor pai do mundo (dois filhos seria o número ideal: mais do que um porque é cruel uma criança não ter irmãos; dois no máximo porque acho que há excesso de seres humanos no planeta, parecemos uma praga de gafanhotos a destruir tudo, se não ultrapassar os dois filhos ajudo a população a baixar, pois quando dois progenitores morrem se não tiverem mais do que dois filhos o número de seres humanos mantém-se igual no planeta com tendência a diminuir);--> ter experiências espirituais, encontrar a verdade, o nirvana ou moksha, conhecer-me, crescer, adquirir cada vez mais sabedoria e descobrir os mistérios do universo; a minha maior utopia é ter uma alma, não ser apenas um robô de carne e osso, que a vida continue de alguma forma depois de morrer - se assim não for, existir não tem muito sentido e é uma piada de mau gosto; etc. PS: eu sei que não realizarei um décimo destas utopias e soa infantil, mas para mim a vida sem elas não tem sentido algum, sonhar é como a história do burro com uma cenoura atada à frente da testa, correndo rumo ao pôr-do-sol, em direção a um precipício - mesmo que nunca cumpra nenhum destes sonhos não faz mal, correr rumo ao precipício já é meia realização.</p>

<p><strong>Personalidade:</strong> Capricórnio com ascendente Peixe na astrologia, INFP no teste de psicologia MBTI - não gosto de astrologia nem de psicologia por me fazerem sentir um robô de carne e osso pré-programado e porque não acredito que a essência humana possa ser categorizada dentro de caixas pré-definidas, mas sou um cético com mente aberta a todas as possibilidades - coincidência ou não identifico-me 99% com a descrição em ambos e ironicamente dizem coisas similares, resumo da história: pareço um extraterrestre com fachada fechada, distante e aparentemente lógico, mas sou um dos espécimes alienígenas mais empático e aluado no universo com dois pés na lua mas os sapatos na terra. Introvertido desde o berço, multidões e eventos sociais drenam-me as baterias e o sossego, coisas nerdescas recarregam-nas. Alguma ansiedade social, junto de multidões sinto-me como se estivesse sozinho no meio de uma selva de noite, rodeado de animais selvagens que podem atacar a qualquer momento. 90% das pessoas no planeta ou me assustam ou me aborrecem, mas embora goste de estar só não gosto de solidão. Sou muito distraído e dou-me pessimamente com o relógio e pontualidade. Sempre me senti inteligente na maior parte das áreas, mas um asno em <i>social skills</i> - ao criar o meu personagem no RPG da vida devo ter usado todos os pontos para maximizar as outras áreas mas poupado nessa. I overthink a lot, thats half of the cause of poor social skills: "porquê sair às sextas à noite e ir para onde vão todos os outros para o meio da confusão e barulho?"; "porquê dar presentes no natal por lavagem cerebral, alimentando o consumismo, quando no resto do ano estão muito mais baratos?"; "porquê usar gravata quando é um pedaço de tecido inútil?"; "porquê ir para a praia no verão, apenas porque todos o fazem, quando vão estar todos ao monte e a praia estaria muito mais bonita e livre só para mim no inverno?" etc. - a minha mente não se dá bem com normas sociais e costumo ir na direção oposta das massas.</p>

<p><strong>Idealismos:</strong> Autodidata e polímata das coisas da vida com aspiração a escritor, poeta e sannyasin (busca pela verdade). Espiritualista mas anti instituições religiosas e dogmas - interesso-me por todas as religiões no mundo, considero que todas dizem o mesmo por palavras diferentes mas corrompidas e deturpadas pela humanidade ao longo dos séculso, por isso não sigo nenhuma em particular. Gosto de ler sobre estes temas e filosofia, um quarto da minha micro-biblioteca é sobre isso. Tentei estudar e experimentar um pouco das principais religiões e correntes (Reiki, Yoga, Budismo, Espiritismo, Taoismo, forçado no catolicismo em pequeno pelos pais mas cedo fugi dele, etc.), no entanto, embora tivesse experiências interessantes, nunca encontrei a verdade das coisas e afastei-me de tudo o que tenha mão humana. Gosto especialmente das filosofias Budistas e Taoistas, mas não tenho religião e sou contra dogmas e instituições. Socialmente considero-me agnóstico não praticante, é a resposta que dou sempre ao tema - considero que é a única resposta racional possível ("só sei que nada sei"), pois não tenho provas quer da existência ou não existência de algo. Embora esteja em território neutro e cada vez mais desiludido com as coisas dos deuses, faço figas e tento acreditar que eu exista para lá do corpo, caso contrário existir seria uma piada de mau gosto e não valeria a pena.</p>

<p>Nunca segui partidos, parece-me tudo uma infantilidade, uma manipulação de massas e massagem a egos - se os homens fossem perfeitos não precisavam de governantes como cães com trela para não morder, seres moralmente perfeitos nunca precisariam de governantes e leis a servir de açaime. A auto-consciência, paz e amor são a minha política e bússola guia. No entanto compreendo que a humanidade ainda é muito imperfeita, a maior parte dos seres humanos são crianças selvagens e inconscientes no âmago da sua alma, precisam de açaimes para não morder, templates sociais para não cairem em crises existenciais e trelas para os guiar, por essa razão a política, tribunais e leis têm o seu papel para essas pessoas e mundo contemporâneo, pelo menos até ao dia (distante e utópico) em que a humanidade atingir a maioridade.</p>

<!--
<p>Sou vegetariano há uma década e mais além para evitar dor e morte desnecessárias de animais inocentes, mas não julgo quem não o é, eu próprio demorei bastante tempo a tomar a decisão, com desistências e recomeços - esta opção não faz de ninguém melhor ou pior. Aliás, algumas das melhores pessoas que conheço nesta vida são carnívoros chicheiros de 1º grau, não os admiro menos como pessoas - não julgo, não é que no universo hajam regras de certo e errado escritas em pedra (até prova em contrário tudo vale e nada importa). Faço questão de dizer isto, pois ao longo de todo este tempo noto que há muita agressividade por parte das pessoas sempre que se cruzam com alguém com opções de vida diferentes neste ãmbito - penso que seja por pensarem que estão a ser julgadas por não fazer o mesmo, há aqui todo um fenómeno psicológico e social interessante. Embora no início falasse abertamente sobre este tema sempre que alguém me questionava, hoje em dia evito ao máximo e não partilho os motivos da minha decisão com facilidade - as pessoas estão mais interessadas em ouvir os meus argumentos para os tentar refutar do que para os tentar compreender e eu detesto debates, tenho preguiça em argumentar ideias e prefiro fazer conta que dou o braço a torcer. Por isso faço questão de sublinhar que não estou interessado em que os outros sejam ou não vegetarianos, não há certos ou errados, apenas opções e estilos de vida. Mas tal como o Morpheus ofereceu um comprimido azul e outro vermelho à escolha do Neo no filme Matrix, um para a verdade cruel, outro para uma ilusão meiga, lançarei também aqui no blog comprimidos de tempos a tempos, nem que seja partilhando receitas vegetarianas e curiosidades - gosto de partilhar ideias, não de as impor.</p>
<p>Tomei a decisão definitiva quando vi o documentário <a href="https://www.youtube.com/watch?v=vPtrekRyTMA" target="_blank">Earthlings</a>, foi nesse dia que decidi ser 100% vegetariano, se alguém estiver interessado no comprimido vermelho fica o link. Em adenda, o livro do filósofo Peter Singed "Escritos para uma vida Ética" também é uma excelente introdução ao tema, foi a melhor leitura que já encontrei sobre este assunto (a par com os capítulos finais do livro "A Insustentável Leveza do Ser").</p>
<p>O meu primeiro contacto com os ideais do vegetarianismo foi quando ainda não tinha 7 anos: nasci num meio rural, a minha mãe sempre criou animais para comer. No entanto ela não tinha coragem de os matar, por isso pedia sempre ao meu pai. Um dia ela precisava de um frango para o jantar, mas só estava eu em casa - uma criança com 6 ou 7 anos - pediu-me a mim para matar o pobre bicho... Eu tinha visto o meu pai fazer aquilo algumas vezes, e como criança que era não tinha noção das consequências, mas achava piada imitar o meu pai e sentir-me o alfa da casa, por isso aceitei com entusiasmo. Eu recordo-me de muito pouco da minha infância, até aos 10 anos lembro-me de pouca coisa, mas nunca me esqueci daquele momento. Quando peguei na faca para cortar o pescoço à pobre galinha, enquanto a minha mãe se escondia para não ver, tomei pela primeira vez consciência dos primórdios do vegetarianismo - a galinha olhava para mim fixamente, como se soubesse que ia morrer (nunca me esqueci dos olhos dela, ela estava calma como se soubesse que ia morrer). Tomei consciência que o pobre bicho sentia o mesmo nível de dor e medo em relação à morte e ferimentos, cortar um braço a um humano não dói menos do que cortar uma perna a uma galinha. O que muda é o grau de consciência que temos em relação a essas situações, somos seres mais inteligentes e estamos dois passos à frente como num jogo de xadrez, mas por sermos mais inteligentes temos também maior grau de responsabildiade para com os outros seres e planeta. Lembro-me que enquanto estava com a faca na mão e a pobre galinha a olhar para mim aterrorizada. hesitei e perdi vontade de continuar, mas não queria dar ar de frac, queria imitar o meu pai e ser o homem da casa, por isso comecei a cortar... Parei a meio e larguei a galinha, enquanto ela corria pelo quintal aos saltos como um chafariz de sangue com duas pernas e a minha mãe corria atrás dela para a apanhar. Lembro-me de poucas coisas da infância, mas esta nunca esqueci. Esse dia foi a primeira vez em que comecei a pensar no tema do vegetarianismo, embora de forma ainda muito inconsciente e sem fazer a mínima ideia que havia toda uma filosofia em redor disso. Vida fora fui levando esse embrião nos meus pensamentos e nos primórdios dos meus 20 anos conheci pessoas vegetarianos pela primeira vez, descobri nessa altura um mundo de possibilidades e destruí falsos dogmas - já lá vai mais de uma década e ainda não morri, sou prova viva que comer carne não é sinónimo de sobreviver e necessidade, apenas de gula e opção.</p>
<p>Sempre que me cruzo com pessoas o meu primeiro instinto é olhar para o chão ou pensar em desculpas para me afastar, mas quando passo por um cão ou gato não consigo parar de sorrir, falar com ele e baixar-me para lhe dar festas e brincar. Considero que os animais são seres humanos nos primórdios da evolução da alma. Se existisse reencarnação e me dessem à escolha em qual espécie reencarnar (exceto humano, seria sempre mais divertido como humano) escolheria pássaros, lucky bastards, são os seres mais sortudos e incríveis no planeta pois conseguem voar! Adoro pássaros, especialmente corvos, melros e andorinhas. Há alguns anos encontrei um pombo bebé perdido na rua a morrer à fome, acolhi-o na casa que alugava na cidade na altura (acho que era uma pomba, foi batizada Lucky), alimentei-a à mão até crescer e hoje em dia voa livre algures por Braga (todos os dias vinha à minha varanda penicar na janela, mas entretanto mudei de casa) - nessa altura passei também a adorar pombos(as). Perto de 2010 adotei dois gatinhos que amo e cuido como filhos - o Orion e a Estrela (nomes de gato relacionados com o universo FTW!). No dia 9 de novembro de 2017 o meu Orion morreu pouco depois da meia-noite (não sei a causa); às 3 da manhã enterrei-o junto a uma amendoeira, perto de uma floresta - um dos dias mais tristes da minha vida.</p>-->


<p><strong>Profissional:</strong> Sempre quis ser tudo no âmbito profissional, não suporto a ideia de estar preso a apenas um título profissional. Neste momento, em termos práticos e como principal atividade, se me fosse a definir faço a gestão de servidores num Centro de Investigação na Unviersidade do Minho onde sou programador (Python & Rust FTW com NodeJS à mistura) e designer web. Em paralelo, no tempo livre, sou investigador (Linguística Computacional principalmente) e programo rabiscos de <i>Indie Games</i> (<i>Godot Engine</i> FTW), mas sonho morrer escritor numa fase final da vida. Até lá aspiro a indie game developer. Interesse crescente por guionismo e produção cinematográfica, produzir algo para cinema seria outro grande sonho. Nos intervalos da vida alguns hobbies são: fotografia, bushcraft, meditação, identificação de plantas selvagens, micologia e instrumentos musicais (tenho guitarra, teclado, harmónica e flauta - pequeno aprendiz muito verde). Estudei Línguas e Literaturas Europeias (Português-Inglês), espreitei o 1º ano da licenciatura em Filosofia (que desejo retomar quando for velhote e tiver mais tempo livre), saltei para o mestrado em Literatura e Cinema, mas ironicamente acabei por trabalhar na área que aprendi fora dos canudos como autodidata ainda em adolescente: programador (adoro Web em particular). Recentemente tirei o Mestrado em Engenharia Informática na Universidade do Minho para oficializar, fi-lo não pelo conhecimento mas apenas pelo canudo (portas abertas na vida nunca é demais). Isto reforçou a minha ideologia de longa data sobre a inutilidade dos canudos e sistemas: a única escola de verdade é a vida, para ser ou fazer seja o que for precisamos apenas de livros e liberdade, tudo o resto são jogos sociais inúteis. Desde que me conheço como gente sempre aspirei a aprender um pouco de tudo, irrita-me fazer opções e especializações pois sinto que perco um pedaço do universo sempre que opto por algo e nego as alternativas. Nisso resulta que sou um canivete-suiço enferrujado e inútil: sei muitos conceitos mas não sou mestre em nenhum. Esta filosofia de vida nasceu da paixão por um dos meus grandes ídolos: Leonardo da Vinci - embora eu saiba que sou muito pequeno e nunca serei nada de especial na vida em comparação. Sempre tentei ser autodidata e aprender um pouco de todas as áreas (polímata) apenas pelo puro prazer em aprender. Por essa razão, quando alguém me pergunta o que faço na vida ou o que estudei, fico atrapalhado sem saber bem o que dizer - estudei e faço tanta coisa diferente que não me revejo em nada (posso ter tirado um curso sobre x ou trabalhar no local x, mas isso não é de forma nenhuma reflexo da realidade sobre quem sou).</p>
<p>Ao longo da vida trabalhei (nem todos profissionalmente) como carpinteiro (filho de um), agricultor (filho de uma), mecânico (férias de escola), professor (um semestre na universidade), investigador, técnico de informática, web designer, programador, designer gráfico, tradutor, picheleiro, eletricista e trolha (ajudei a construir a casa dos meus pais entre outra coisas), etc. No entanto é tudo um passatempo para não morrer à fome, planeio morrer como escritor se o passaporte turístico da minha alma neste universo não caducar até lá.</p>

<!--
<br>

<h1>Origem do nome</h1>

<p><strong><em>Paulo Jorge PM</em></strong> é o nome com que assino este website e tudo o que publico - é uma versão aldrabada do nome com que me nasceram (trocadilho "intended", porque consta que eu nasci para além do tempo, não queria sair xD). Os primeiros dois nomes são de origem grega e latina, "Paulo Jorge" significa literalmente "Pequeno Agricultor" - até descobrir isso detestava o meu nome (os meus pais têm origem católica e são nomes de personagens desse universo, por isso associava-os a essa ligação cristã e detestava tremendamente a ideia de ter uma forca ideológica ao pescoço logo à nascença), mas agora que descobri a verdadeira origem acho poético, sempre vivi no campo e sou um Zé-ninguém que não sabe nada da vida, por isso tem tudo a ver com as minhas origens, adoro o significado! Há já algum tempo decidi assinar tudo o que me for possível com Paulo Jorge PM. Porquê "PM"? - essa é a parte aldrabada. Oficialmente são os meus apelidos: Pereira Martins. Mas detesto-os! Não gosto da ideia de pertencer a alguém, faz-me sentir um touro que levou com uma marca a ferros a ferver dos tratadores. Em segundo lugar porque desde o berço "Pereira Martins" é sinónimo de discussões: a família da minha mãe andou toda à vida à batatada por causa de heranças; a família do meu pai andou toda à vida à batatada não sei ainda por qual razão; os meus pais igualmente, sempre discutiram como se não houvesse amanhã e prometiam um divórcio que aconteceu há alguns anos: neste momento "Pereira Martins" é uma utopia, os apelidos deviam simbolizar uma união de duas famílias mas tal não não existe. Em terceiro lugar, porque até hoje a minha mãe se ri quando digo que um dia vou ser escritor ou é da opinião que o dinheiro que gasto com instrumentos musicais e máquinas fotográficas era melhor empregue a comprar um carro novo para impressionar os vizinhos. Por essa razão, em tom de brincadeira, disse-lhe que quando for um escritor famoso não assinarei com o nome da família - assim nasceu PM. Ficou apenas o "P" e o "M" porque os meus dois irmãos são bons moços, são a única parte que deu frutos no "Pereira Martins", ficam por isso duas letras do apelido em sua honra (também tenho dois amigos de infância, tive dois gatos (etc.), gosto do número dois). Em segundo lugar (e principalmente) porque detesto visceralmente acordar cedo! Adoro deitar-me tarde e sair da cama quando me apetece sem despertadores, preferencialmente na hora do almoço (devo ter nascido num fuso horário estrangeiro). Por essa razão gosto da sigla "p.m.", como na hora inglesa ("Post meridiem") a representar as 12 horas da parte da tarde, assenta-me que nem uma luva - adorava trabalhar como <em>freelancer</em> por isso mesmo, apenas para poder acordar à hora que desejar, é uma tortura acordar todos os dias às 9h!<p>


<br>

<h1>Origem do logotipo</h1>

<p>Em criança, ainda na Escola Primária, algures entre a 1ª e a 4ª classe, ouvi alunos mais velhos a falar sobre símbolos e desenhá-los num caderno (deviam ser símbolos tribais ou de bandas, não me recordo). Foi a primeira vez que tomei consciência sobre o que é um símbolo. Achei piada à ideia de ter eu mesmo também um símbolo só meu, que me representasse e apenas eu soubesse. De entre várias tentativas de esboços nasceu nessa altura o conceito do atual. Ficou esquecido no fundo de uma gaveta até ao dia em que precisei de inventar uma rubrica, para representar a minha assinatura - foi o primeiro candidato e elemento obrigatório! Até hoje sempre que assino incluo este símbolo:</p>

<img src="{{ url_for('static', filename='images/simbolo_assinatura.png') }}">

<p>Simboliza um coração com correntes tipo camisa de forças, agrilhoado ao solo. Simboliza alguém sonhador, idealista e muito empático/sensível em relação ao mundo mas que vive para dentro, fechado e introvertido como um tanque de carne blindado, com a imaginação na lua mas os pés algemados na terra. Como é que aos 7 ou 8 anos me foi lembrar disto? - não faço ideia. Mas ficou para toda a vida. Ao longo do tempo o significado foi-se transmutando ou alargando. Adoro os versos de um poema: "The bird of Hermes is my name / I am eating my own wings to make me tame" - este poema reflete outro dos significados do símbolo e opções que tenho tomado ao longo da vida, rumo ao melhor de mim contra os meus instintos básicos, desde ser vegetariano (é óbvio que os melhores sabores que já provei estão do lado carnívoro, mas prefiro comer as minhas próprias asas para me domesticar); ou podia viver uma vida apenas pelo prazer e não perder horas de sono até às 3 da manhã a fazer websites inúteis, escrever poemas que não servem para nada ou a programar coisas para os outros de graça (mas prefiro comer as minhas próprias asas para me domesticar), etc. Nunca quis ser escravo dos meus instintos e necessidades básicas, para além do contexto cultural e social, por isso vou bicando as minhas asas para me acordar e desprogramar. Li pela primeira vez este poema no Anime/Manga Hellsing que adoro (a versão Ultimate com as 10 Ovas, não o horroroso primeiro anime cheio de <em>fillers</em>).</p>

<p>Recentemente, para a construção do website, adaptei o símbolo para uma bandeira pirata em pixel art. Gosto muito dessa arte, faz-me lembrar quando no passado fazia <em>mods</em> para alguns videojogos 2D e porque sou apaixonado por retro e indie games (sonho um dia coleccionar consolas e catálogos completos do passado). A bandeira pirata porque piratas representam liberdade e anarquia, acho conceitos belos; também porque a manga/anime One Piece é muito especial para mim, por várias razões, e é sobre piratas; ou porque adoro a série Zelda e uma das minhas versões preferidas da saga é o Wind Waker, que conta a história numa versão pirata do Link e de Hyrule (o mesmo pode ser dito sobre o Uncharted 4, também o meu preferido da saga e num contexto sobre piratas). O símbolo da caveira e a cruz também têm um significado importante: simbolizam a morte, tema que me é muito querido, pois sou um existencialista espiritualista em busca dos segredos do universo - não há dia que não pense sobre o assunto ou devore livros sobre filosofias orientais e temas próximos.</p>

<br>

<h1>Porquê construir um website? Como começou?</h1>

<p>Vou deixar esta questão para o primeiro post no <em>Blog</em>, pois o testamento já vai longo e não sei como estrear essa seção, servirá de introdução. Podem saltar para ele <a href="{{ url_for('blog', page=1) }}{% if lang =='en': %}?lang=en{% endif %}">aqui</a>.</p>

<br>
<br>

<p>Se alguém no planeta tiver sobrevivido até este ponto a tanto texto e testamento aborrecido, então seremos certamente bons amigos. Quando decidi criar o website tive medo que soa-se pretensioso, egocêntrico e inútil, pois não tenho outra coisa para escrever nele a não ser sobre mim e daquilo que gosto. Mas criá-lo é meio terapêutico, pois para mim escrever é como ir a uma consulta de psicanálise. Por isso tentarei fazê-lo o mais pessoal e íntimo possível; o objetivo é vomitar o máximo de porcaria textual possível no "papel"/ecrã em formato escrita livre; tentarei manter sempre um tom muito pessoal e partilhar coisas que normalmente não falaria no dia a dia, com o pretexto de praticar a minha habilidade de falar em público sem medo ou confrontar ideias (por norma no dia a dia fujo disso tudo). Também houve alturas na vida que achei que não estava a fazer nada de jeito com ela, que os anos passavam mas nada ficava ou não fazia nada de jeito: ver listas de coisas criadas, aprumadas e organizadas na seção <em>Portfólio</em>, faz-me pensar duas vezes quando tiver esse tipo de pensamentos. Não é que tenha muito valor o que tenho feito, são minúsculos grãos de areia nas praias da vida, mas é qualquer coisa melhor do que não fazer nada.</p>

<p>Algo que me assusta em relação ao website é o cuidado com a escrita. Tenho medo de escrever com erros ortográficos e gramaticais publicamente. Mas por outro lado detesto perder tempo a corrigir, pois se me ponho com perfeccionismos eu sei que nunca escreverei nada por cá (o costume é chegar a um ponto, no meio de tantas correções, em que me zango com o que escrevi e apago tudo; ou demoro tanto tempo até atingir uma versão que goste que acabam por passar séculos e o conteúdo perde contexto - quero evitar isso). Por essa razão decidi (quer dizer, vou tentar) não me importar muito com a qualidade da escrita - isto é um <em>Blog</em>, um livro de rascunhos, não uma epopeia. Quero escrever fluentemente, sem perder horas a caçar erros - quantidade acima de qualdiade é aqui o caso. Mas isso é muito perigoso, pois quando estou muito cansado e escrevo rápido tenho tendências disléxicas:  já dei por mim a trocar palavras portuguesas por inglesas ou homófonas umas pelas outras; "lhes" por "nhes", etc. - entre outras coisas mais graves que normalmente quando releio no dia a seguir fico de boca a aberta porque são bugs do cérebro, não coisas que eu não saiba. Vamos ver como corre... Como misturo muitas expressões inglesas com o português, optei por não usar muitos itálicos ou aspas, para não perder tempo. Uma particularidade da forma como escrevo é a pontuação: sei as regras muito bem, mas detesto-as! Para mim a pontuação é como sinais de silêncio numa pauta musical, servem para simular o ritmo com que desejo que alguém leia o texto - apenas isso, ritmo, que se danem as regras e divisão sintática das orações. Dito isto, ainda não o aplico totalmente no dia a dia para não pensarem que não sei pontuar. Só aviso pois pode ocorrer aqui e ali. Um dia se publicar algo tentarei pôr esta ideologia em prática.</p>-->

<br><br>

<p>O website já é velhinho com visual obsoleto (foi desenhado em 2010) e não tenho tempo de o remodelar, mas tem alguns <i>easter eggs</i> escondidos (principalmente no cabeçalho - sfx do Duck Hunt algures, cof cof), mas ainda não tive tempo de aplicar metade (um dia juro que programo um mini jogo ativável com vários cliques no espaço, à semelhança do jogo do dinossauro nas páginas "404 not found" do Chrome). Time will tell.</p>

<p>Todo o material exposto pode ser usado gratuitamente, não dou importância a licenças nem copyright (apenas não mintam sobre a autoria). Quase tudo por cá foi programado ou desenhado por mim (algumas exceções, como o gif dos pássaros ou algumas libraries JS para não reinventar a roda), por isso "mi casa es su casa". Embora tenha adaptado o website a vários formatos <em>responsive</em> e esteja completamente à vontade nessa área, a melhor resolução para visualizar a página é 1920x1080. Detesto versões <i>mobile</i>, são versões <i>fast food</i> dos website sem tanta arte e pormenor, por isso como o website é meu e não devo satisfações a ninguém a versão <i>mobile</i> é rasca, não perdi muito tempo. <i>Every time you browse a website in a smartphone or IE a puppy gets a tummy ache!</i></p>

<p>Poderei escrever algumas vezes em inglês, apenas para desenferrujar e praticar. Se um dia tiver paciência traduzo partes para ficar bilingue ou crio um sistema de tradução automática.</p>


<p>Se leram até este ponto são mesmo corajos@s! Se gostam de testamentos secantes (A.K.A. os temas acima) vamos ser grandes amigos. Sejam bem-vind@s.</p>

<br>

<img src="{{ url_for('static', filename='images/foto-paulo-index-big.jpg') }}">


</div><!--left-->

{% include 'right.html' %}

{% endblock %}
