<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118415061-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118415061-1');
</script>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Paulo Jorge PM - Homepage</title>
<meta name="author" content="name">
<meta name="description" content="Bem-vind@ à minha casa virtual!">
<meta name="keywords" content="paulo jorge pm,homepage,webdesign,software,design,web,web design, websites,progamar,webdesigner,web designer,criar,vender,blog,anime,jogos,música,livros,cinema,filmes,séries">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}" type="text/css">
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<!-- Carousel Slider -->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/flickity.css') }}" type="text/css" media="screen">
<script src="{{ url_for('static', filename='js/flickity.js') }}"></script>-->

{% if request.endpoint != "blog": %}
<meta property="og:title" content="Paulo Jorge PM - Homepage" />
<meta property="og:description" content="Bem-vind@ à minha casa virtual! Este espaço é um sótão da minha alma, onde partilharei tudo o que normalmente acabaria morto no fundo de uma gaveta: trabalhos, pensamentos e hobbies." />
<meta property="og:url" content="http://www.paulojorgepm.net" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:image" content="http://www.paulojorgepm.net/static/images/paulojorgepm-logo.png" />
{% block head %}{% endblock %}
</head>
<body id="top">
{% block body %}{% endblock %}

<!--<div id="top">-->

<div id="header">
<div id="head">
  <div class="music-player">
      <!-- The symbol # is better pratice than javascript:; inisde an empty href, but had already a code to slow scrool all href with # inner anchors, so was easier this way-->
      <div class="music-controls"><a href="javascript:;" class="music-back"></a><a href="javascript:;" class="play-pause music-play"></a><a href="javascript:;" class="music-forward"></a></div>
      <div class="music-title"><a href="{{ url_for('playlist') }}{% if lang =='en': %}?lang=en{% endif %}">01 - {{ musics[0]["title"] }}</a></div>

    <audio id="music_player" preload="auto">
      <source class="song_mp3" src="{{ url_for('static', filename='music/'+musics[0]["path"]) }}" type="audio/mpeg">
      <!-- ogg li que é melhor relação qualidade tamanho -->
      Your browser is old and does not support the audio element, please update or change browser.
    </audio>
    <div class="playlist">
        {% for music in musics %}
        <div class="song" url="{{ url_for('static', filename='music/'+music["path"]) }}">{{ loop.index }} - {{ music["title"] }}</div>
        {% endfor %}
    </div>
  </div> <!--music-player-->

  <div id="head-right"></div>
  <div id="head-left"></div>
  <div id="head-clouds"></div>
  <div id="head-flag"></div>
  <div id="header-birds-box">
      <div id="head-birds"></div>
  </div>
</div><!--head-->
</div> <!--header-->

<div id="body-wrapper">

<div id="nav">
    <div id="menu-left">
    <ul class="menu-nav-left">
    <li><a href="{{ request.url|replace('?lang=en&','?')|replace('?lang=en','')|replace('&lang=en','')}}" data-text="Portuguese language">PT<!--≡--></a></li>
    </ul>
    <ul class="menu-nav-right">
    <li><a href="{% if request.args.get('lang') != 'en': %}{% if request.args: %}{{ request.url }}&lang=en{%else:%}{{ request.url }}?lang=en{% endif %}{% else: %}{{ request.url }}{% endif %}" data-text="English language" onclick="alert('Website not yet fully translated to english. Only some navigation elements. Soon I plan to translate every static page. But the blog sections will take a while... I plan to post some entries only in english, but for now the majority will be in portuguese to take off easier. In the future I would like to have fully bilingual content, or to programme some kind of automatic translation system made by my hand - it is a hobby - but knowing myself it may take a long long time... (I am always jumping from project to project and I get bored quickly)')">EN</a></li>

    <!--<li><a href="{{ url_for('blog', page="1") }}" data-text="Sobre o website">?</a></li>
        </ul>
        <ul class="menu-nav-right">
        <li>
        {% if request.args.get('lang') != 'en': %}<a href="{% if request.args: %}{{ request.url }}&lang=en{%else:%}{{ request.url }}?lang=en{% endif %}" data-text="English language" onclick="alert('Website not yet fully translated to english. Only some navigation elements. Soon I plan to translate every static page. But the blog sections will take a while... I plan to post some entries only in english, but for now the majority will be in portuguese to take off easier. In the future I would like to have fully bilingual content, or to programme some kind of automatic translation system made by my hand - it is a hobby - but knowing myself it may take a long long time... (I am always jumping from project to project and I get bored quickly)')">EN</a>{%else:%}<a href="{{ request.url|replace('?lang=en&','?')|replace('?lang=en','')|replace('&lang=en','')}}" data-text="Portuguese language">PT</a>{% endif %}
      </li>-->
    </ul>
    </div>
<nav>
<ul id="menu">
<li><a href="{{ url_for('index') }}{% if lang =='en': %}?lang=en{% endif %}">Home</a></li>
<li><a href="{{ url_for('blog') }}{% if lang =='en': %}?lang=en{% endif %}">Blog</a></li>
<li><a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Portfolio{% else: %}Portfólio{% endif %}</a></li>
<!--<li><a href="{{ url_for('shop') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Shop{% else: %}Serviços{% endif %}</a></li>-->
<li><a href="{{ url_for('cv') }}{% if lang =='en': %}?lang=en{% endif %}">CV</a></li>
<li><a href="{{ url_for('contact') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Contacts{% else: %}Contactos{% endif %}</a></li>
</ul>
</nav>
    <!--<div id="menu-right">
    <ul>
    <li><a href="#" data-text="English laguage">EN</a></li>
    </ul>
  </div>-->
</div> <!--nav-->

<div id="content">
{% block content %}{% endblock %}
</div><!--content-->

<div class="clearfix"></div>
<div class="go-top"><a href="#top" title="Go top"><img src="{{ url_for('static', filename='images/up.gif') }}"></a></div>
</div> <!--body-wrapper-->

<div id="footer">
<footer class="footer-logo"><img src="{{ url_for('static', filename='images/paulo-jorge-pm.png') }}"></footer>

<div class="footer-block">
<footer class="footer-col footer-list">
<nav>
<ul>
<li><a href="{{ url_for('index') }}{% if lang =='en': %}?lang=en{% endif %}">Home</a></li>
<li><a href="{{ url_for('blog') }}{% if lang =='en': %}?lang=en{% endif %}">Blog</a></li>
<li><a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Portfolio{% else: %}Portfólio{% endif %}</a></li>
<!--<li><a href="{{ url_for('shop') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Shop{% else: %}Serviços{% endif %}</a></li></li>-->
<li><a href="{{ url_for('cv') }}{% if lang =='en': %}?lang=en{% endif %}">CV</a></li>
<li><a href="{{ url_for('contact') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Contacts{% else: %}Contactos{% endif %}</a></li>
</ul>
</nav>
</footer><footer class="footer-col footer-list footer-secondary">
<ul>
<li><a href="{{ url_for('portfolio', _anchor='websites') }}{% if lang =='en': %}?lang=en{% endif %}">Web</a></li>
<li><a href="{{ url_for('portfolio', _anchor='posters') }}{% if lang =='en': %}?lang=en{% endif %}">Design</a></li>
<li><a href="{{ url_for('portfolio', _anchor='programming') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Programming{% else: %}Programação{% endif %}</a></li>
<li><a href="{{ url_for('portfolio', _anchor='poems') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Creative Writing{% else: %}Escrita Criativa{% endif %}</a></li>
<li><a href="{{ url_for('portfolio', _anchor='texts') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Translation{% else: %}Tradução{% endif %}</a></li>
<li><a href="{{ url_for('portfolio', _anchor='music') }}{% if lang =='en': %}?lang=en{% endif %}">{% if lang == "en" %}Multimedia{% else: %}Multimédia{% endif %}</a></li>
</ul>
</footer><footer class="footer-col footer-credits">
<ul>
<li><address><a href="{{ url_for('rss') }}" target="_blank" title="RSS"><img src="{{ url_for('static', filename='images/rss.png') }}"></a> &nbsp; <a href="https://www.facebook.com/paulo.jorge.pm" target="_blank" title="Facebook"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a> &nbsp; <a href="http://paulo-jorge-pm.tumblr.com" target="_blank" title="Tumblr"><img src="{{ url_for('static', filename='images/tumblr.png') }}"></a> &nbsp; <a href="https://bitbucket.org/Paulo-Jorge" target="_blank" title="Bitbucket"><img src="{{ url_for('static', filename='images/bitbucket.png') }}"></a> &nbsp; <a href="https://www.youtube.com/user/Toaki5" target="_blank" title="Youtube"><img src="{{ url_for('static', filename='images/youtube.png') }}"></a>  &nbsp; <a href="mailto:paulo.jorge.pm@gmail.com" target="_blank" title="E-mail"><img src="{{ url_for('static', filename='images/mail.png') }}"></a></address></li>
<li><div class="join-newsletter"><form action="{{ url_for('contact') }}#newsletter" name="footer-newsletter" method="post"><span>{% if lang == "en" %}Get notified about new publications{% else: %}Receber notificação de novas publicações{% endif %}: </span> <input type="text" name="email" placeholder="{% if lang == "en" %}Insert e-mail{% else: %}Inserir e-mail{% endif %}" /> <input type="submit" value="{% if lang == "en" %}Send{% else: %}Enviar{% endif %}" /></form></div></li>
<li>© 2010-2020 · Website by: Paulo Jorge Pereira Martins · Coded with: Python ♥ Flask</li>
<li>{% if lang == "en" %}Website coded and designed from scratch. All public material can be freely used. Open Source FTW!{% else: %}Website codificado e desenhado de raiz. Todo o material exposto pode ser usado gratuitamente. Open Source FTW!{% endif %}</li>
<li>Best viewed in 1920x1080 resolution. Every time you browse a website in a smartphones or IE a puppy dies.</li>
</ul>
</footer>
</div>


</div> <!--footer-->

<!--</div> top-->

<!-- The javascript =============================== -->

<!-- Carousel Slider -->
<script>
/*$('.pubs-carousel').flickity({
// options
autoPlay: false,
prevNextButtons: false,
wrapAround: true,
imagesLoaded: true,
cellAlign: 'left',
contain: true,
draggable: false
});*/
</script>

<script>
//Scroll animation when inner anchor clicked ("go top" for example)
$(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {

    e.preventDefault();

    var target = this.hash,

    $target = $(target);

    if (target == "#top") {
      $('html, body').stop().animate({
          'scrollTop': (0,0)
      }, 900, 'swing', function () {
          window.location.hash = "";
          //don't want to set the hash to top, otherwise browsers would trigher it twice to the real #top id used for browsers witouht JS, which is not a real top (0,0) when head is hidden
      });
    }
    else {
      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'swing', function () {
          window.location.hash = target;
      });
    }

  });
});
</script>

<script src="{{ url_for('static', filename='js/jquery.bgscroll.js') }}" type="text/javascript"></script>

<script>
//Header animations
$(document).ready(function() {
    //Clouds animation
    $('#head-clouds').bgscroll({scrollSpeed:65 , direction:'h' });

    //Birds animation
    var screenWidth = $(window).width();
    //var duration = 50000;
    //This calculates the relative speed. My monitor have 1980px width; I wanted the speed to be the same even in smaller monitors
    //If I left 5000ms duration in a smaller monitor birds would be slower than in my 1980px
    var duration = (screenWidth*50000)/1980;

    function animateBirds(image, time) {
        var img_width = image.width();
        //image.css("left", -img_width).animate({
        image.animate({
            "left": screenWidth
        }, time, 'linear', function() {
            image.css("left", -img_width);
            animateBirds(image, duration);
        });
    }

    var img = $("#head-birds");
    //var bridsWidth = img.width();

    animateBirds(img, duration);

    var n_birds = 1;
    var shoot = new Audio("{{ url_for('static', filename='misc/shoot_duck_hunt.mp3') }}");
    //var shoot = document.getElementById("shoot_sfx");

    $('#head').click(function(event) {
      //eventTarget = event.srcElement || event.target;
      var target = $( event.target );
      //I don't want the shoot sound if one clicks the player controls:
      n_birds = n_birds + 1;
      //70 and 63.5 are half the size of the birds image, so the anchor is centered
      $("#head").append('<div id="header-birds-box"><div id="head-birds" class="birds'+n_birds+'" style="top:'+(event.pageY-63.5)+'px;left:'+(event.pageX-70)+'px;"></div></div>');
      //since the image can start in any X, we need the relative duration, or it would run slower depending on X
      var relative_time_left = ((screenWidth-(event.pageX-70))*50000)/1980;
      animateBirds( $('.birds'+n_birds), relative_time_left);
      if ( target.parent().attr("class") != "music-controls" ) {
      //play duck hunt shoot sfx
        shoot.load();
      shoot.play();
      }
    });

    //Night animation
    $('#nav').mouseover(function() {
        $( "#head" ).animate({
            backgroundColor:'#000713',
        }, 400, function() {
          //end
          });
    });
    });
</script>

<script>
//.NAV and .BOX-NAVIGATION
//page scroll fixe the top menu and the box nav right
$(document).ready(function() {
var menu = $('#nav');
var menu_top = menu.offset().top;
var menu_height = menu.outerHeight();
var window_height = $(window).height();

//without if code would break if the class didn't exist
//PS: also calculate right bar height, set it to the content in case there is no fixed nav and the content is smaller that the right bar
if ($('#box-navigation').length) {
  var right_nav = $('#box-navigation');
  var right_nav_top = right_nav.offset().top;
  var right_nav_height = right_nav.outerHeight(true);
}
else {
  var right_height = $('#right').outerHeight();
  if ($('#left').outerHeight() < right_height) {
      $('#left').css("min-height", right_height);
  }
}

    $(window).scroll(function () {
      //.nav top menu fixed when scroll down
      if ($(this).scrollTop() >= menu_top) {
          menu.addClass("fixed-menu");
           $(".go-top").show(600);
          //could put the next .box-navigation if else code here to optimize and call only when top nav is fixed (nitially did that), but when one reloads or scrolls quick this if section don't run and interfers, need optimize, no time right now
      } else if (menu.hasClass("fixed-menu")) {
          menu.removeClass("fixed-menu");
           $(".go-top").hide(600);
      }


      //.box-navigation right menu fixed when scroll down. If: confirm if there is a #box-navigation and if it don't gets out of the window height if fixed
if ($('#box-navigation').length &&  right_nav_height < window_height-menu_height) {
      if ($(this).scrollTop() >= right_nav_top - menu_height) {
        right_nav.addClass("fixed-box-navigation");
        $("#right > .box").first().css("margin-top", right_nav_height);
      }
      else if (right_nav.hasClass("fixed-box-navigation")) {
        right_nav.removeClass("fixed-box-navigation");
        $("#right > .box").first().css("margin-top", 0);
      }
}
    });

});

/*
var menu = $('#nav');
var menu_top = menu.offset().top;
var menu_height = menu.outerHeight();
var win = $(window);
var win_h = win.height();

$(window).scroll(function () {
    if ($(this).scrollTop() >= menu_top) {
        if (($('#nav').hasClass('fixed-menu')) == false) {
            $('#nav').addClass('fixed-menu');
            $('#nav').stop().animate({width:menu_height, height:menu_height}, 200, function() {
                //defino height senão os <li> ficam verticais
                //o stop() evita que as animações se sobreponham em queue
                $('#menu-max').hide();
                $('#menu-min').show();
            });
        }
    } else if ($('#nav').hasClass('fixed-menu') && $(this).scrollTop() < menu_top) {
        $('#nav').removeClass('fixed-menu');}
        if ($(this).scrollTop() == 0) {
        $('#nav').stop().animate({width:"100%"}, 200, function() {
            $('#nav').css({height:"auto"}); //retoma o height original
        });
        $('#menu-max').show();
        $('#menu-min').hide();

    }
});
*/

</script>

<script>
/*var songs = [
    ["01 - Evening Star - Tyr [5:05m]", "{{ url_for('static', filename='music/evening_star-tyr') }}"],
    ["02 - Lateralus - Tool [9:24m]", "{{ url_for('static', filename='music/lateralus-tool') }}"],
    ["03 - Offend In Every Way - The White Strips [3:06m]", "{{ url_for('static', filename='music/offend_in_every_way-white_stripes') }}"]
];*/

$(document).ready(function() {
var songs = [];
 $(".song").each(function(){
    songs.push([$(this).text(), $(this).attr("url")]);
 });

var music_player = document.getElementById("music_player");
var song_active = 0;
var number_of_songs = songs.length;

/* I repeat this in here, even though the audio has a default src, only because I know that the future me will forget to update the audio src sometimes xD */
music_player.src= songs[song_active][1];
$('.music-title a').text(songs[song_active][0] + " (paused)");
music_player.load(); //força preload do início

//check when song ends, so it jumps automatically to next one
music_player.addEventListener('ended',function(){
   $('.music-forward').trigger("click");
});

//play or pause
$(".play-pause").click(function(e) {
    e.preventDefault();
	if (music_player.paused) {
		music_player.play();
        $('.music-title a').text(songs[song_active][0] + " (playing/loading)");
        $(this).removeClass("music-play")
        $(this).addClass("music-pause")
	} else {
		music_player.pause();
        $('.music-title a').text(songs[song_active][0] + " (paused)");
        $(this).removeClass("music-pause")
        $(this).addClass("music-play")
	}
});

// next song
$('.music-forward').click(function (e) {
    e.preventDefault();

    //next song or restart list if out of entries
    song_active = song_active + 1;
    if (!songs[song_active]) {
        song_active = 0;
    }

//load mp3 or ogg - PS: at the moment all browsers suport mp3. When html5 started not all suported mp3 so this solved it, but not needed now
    //if (music_player.canPlayType('audio/mpeg;')) {
        //music_player.type= 'audio/mpeg';
        music_player.src= songs[song_active][1];
    //} else {
    //    music_player.type= 'audio/ogg';
    //    music_player.src= songs[song_active][1] + ".ogg";
    //}
    music_player.load();
    music_player.play();
    $('.play-pause').removeClass("music-play")
    $('.play-pause').addClass("music-pause")

    //change info text
    $('.music-title a').text(songs[song_active][0] + " (playing/loading)");

});

// previous song
$('.music-back').click(function (e) {
    e.preventDefault();

    //previous song or go to end of list if out of entries
    song_active = song_active - 1;
    if (song_active < 0) {
        song_active = number_of_songs - 1;
    }

    //load mp3 or ogg
    //if (music_player.canPlayType('audio/mpeg;')) {
        //music_player.type= 'audio/mpeg';
        music_player.src= songs[song_active][1];
    //} else {
    //    music_player.type= 'audio/ogg';
    //    music_player.src= songs[song_active][1] + ".ogg";
    //}
    music_player.load();
    music_player.play();
    $('.play-pause').removeClass("music-play")
    $('.play-pause').addClass("music-pause")

    //change info text
    $('.music-title a').text(songs[song_active][0] + " (playing/loading)");

});

$('.music-player').hover(function() {
  $('.playlist').css('display','block');
  }, function() {
  $('.playlist').css('display','none');
});

});//$(document).ready
</script>

</body>
</html>
