<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Paulo Jorge PM - Homepage</title>
<meta name="author" content="name">
<meta name="description" content="description here">
<meta name="keywords" content="keywords,here">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
{% block head %}{% endblock %}
</head>
<body>
  
<!--apagar? não tem close--><div id="top">

<div id="header">
<div id="head">
  <div class="music-player">
      <!-- The symbol # is better pratice than javascript:; inisde an empty href, but had already a code to slow scrool all href with # inner anchors, so was easier this way-->
      <div class="music-controls"><a href="javascript:;" class="music-back"></a><a href="javascript:;" class="play-pause music-play"></a><a href="javascript:;" class="music-forward"></a></div>
      <div class="music-title">01 - Evening Star - Tyr</div>

    <audio id="music_player" preload="auto">
      <source class="song_mp3" src="{{ url_for('static', filename='music/evening_star-tyr.mp3') }}" type="audio/mpeg">
      <!-- ogg li que é melhor relação qualidade tamanho -->
      Your browser is old and does not support the audio element, please update or change browser.
    </audio>
    <div class="playlist" style="display:none;">
        <div class="song" url="{{ url_for('static', filename='music/evening_star-tyr.mp3') }}">01 - Evening Star - Tyr [5:05m]</div>
        <div class="song" url="{{ url_for('static', filename='music/lateralus-tool.mp3') }}">02 - Lateralus - Tool [9:24m]</div>
        <div class="song" url="{{ url_for('static', filename='music/offend_in_every_way-white_stripes.mp3') }}">03 - Offend In Every Way - The White Strips [3:06m]</div>
    </div>
  </div> <!--music-player-->

  <div id="head-right"></div>
  <div id="head-left"></div>
  <div id="head-clouds"></div>
  <div id="header-birds-box">
      <div id="head-birds"></div>
  </div>
</div><!--head-->
</div> <!--header-->

<div id="body-wrapper">

<div id="nav">
    <div id="menu-left">
    <ul>
    <li><a href="#">≡</a></li>
    </ul>
    </div>
<nav>
<ul id="menu">
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('blog') }}">Blog</a></li>
<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
<li><a href="{{ url_for('shop') }}">Loja</a></li>
<li><a href="{{ url_for('cv') }}">CV</a></li>
<li><a href="{{ url_for('contact') }}">Contacto</a></li>
</ul>
</nav>
    <div id="menu-right">
    <ul>
    <li><a href="#">?</a></li>
    </ul>
    </div>
</div> <!--nav-->

<div id="content">
{% block content %}{% endblock %}
</div><!--content-->

<div class="clearfix"></div>

</div> <!--body-wrapper-->

<div id="footer">
<div class="go-top">
<a href="#top" title="Go top"><img src="{{ url_for('static', filename='images/up.gif') }}"></a>
</div>
<footer class="footer-logo"><img src="{{ url_for('static', filename='images/paulo-jorge-pm.png') }}"></footer>

<div class="footer-block">
<footer class="footer-col footer-list">
<nav>
<ul>
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('blog') }}">Blog</a></li>
<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
<li><a href="{{ url_for('shop') }}">Services</a></li><!--&#8614;--></li>
<li><a href="{{ url_for('cv') }}">CV</a></li>
<li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
</nav>
</footer><footer class="footer-col footer-list">
<ul>
<li><a href="{{ url_for('shop') }}">Web</a></li>
<li><a href="{{ url_for('shop') }}">Design</a></li>
<li><a href="{{ url_for('shop') }}">Programação</a></li>
<li><a href="{{ url_for('shop') }}">Escrita Criativa</a></li>
<li><a href="{{ url_for('shop') }}">Tradução</a></li>
<li><a href="{{ url_for('shop') }}">Multimédia</a></li>
</ul>
</footer><footer class="footer-col footer-credits">
<ul>
<li><address><a href="#" target="_blank" title="RSS"><img src="{{ url_for('static', filename='images/rss.png') }}"></a> &nbsp; <a href="#" target="_blank" title="Facebook"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a> &nbsp; <a href="#" target="_blank" title="Twitter"><img src="{{ url_for('static', filename='images/twitter.png') }}"></a> &nbsp; <a href="#" target="_blank" title="Youtube"><img src="{{ url_for('static', filename='images/youtube.png') }}"></a>  &nbsp; <a href="#" target="_blank" title="E-mail"><img src="{{ url_for('static', filename='images/mail.png') }}"></a></address></li>
<li><div class="join-newsletter"><form><span>Receba notificação de novas publicações:</span> <input type="text" name="email" placeholder="Insira o seu e-mail" /> <input type="submit" value="Enviar" /></form></div></li>
<li>© 2013-2016 · Website por: Paulo Jorge Pereira Martins · Powered by: Python ♥ · Coded com: Sublime Text 3</li>
<li>Website codificado e desenhado de raiz. Todo o material exposto pode ser usado gratuitamente. Open Source FTW!</li>
</ul>
</footer>
</div>


</div> <!--footer-->

</div> <!--top-->

<!-- The javascript =============================== -->
<script>
//Scroll animation when inner anchor clicked ("go top" for example)
$(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {

    e.preventDefault();

    var target = this.hash,


    $target = $(target);
    $('html, body').stop().animate({
        'scrollTop': $target.offset().top
    }, 900, 'swing', function () {
        window.location.hash = target;
    });

  });
});
</script>

<script src="{{ url_for('static', filename='js/jquery.bgscroll.js') }}" type="text/javascript"></script>

<script>
//Header animations
$(document).ready(function() {
    //Clouds animation
    $('#head-clouds').bgscroll({scrollSpeed:65 , direction:'h' });

    //Birds animation
    var img = $("#head-birds"),
        bridsWidth = img.width(),
        screenWidth = $(window).width(),
        duration = 50000;
    function animateBirds() {
        img.css("left", -bridsWidth).animate({
            "left": screenWidth
        }, duration, 'linear', animateBirds);
    }
    animateBirds();

    //Night animation
    $('#head').mouseover(function() {
        $( "#head-clouds" ).animate({
            backgroundColor:'#4E1402'
        }, 3000);
    });
    });
</script>

<script>
//.NAV and .BOX-NAVIGATION
//page scroll fixe the top menu and the box nav right
$(document).ready(function() {
var menu = $('#nav');
var menu_top = menu.offset().top;
var menu_height = menu.outerHeight();

var right_nav = $('#box-navigation');
var right_nav_top = right_nav.offset().top;
var right_nav_height = right_nav.outerHeight(true);

  $(window).scroll(function () {
    //.nav top menu fixed when scroll down
    if ($(this).scrollTop() >= menu_top) {
        menu.addClass("fixed-menu");
        //could put the next .box-navigation if else code here to optimize and call only when top nav is fixed (nitially did that), but when one reloads or scrolls quick this if section don't run and interfers
    } else if (menu.hasClass("fixed-menu")) {
        menu.removeClass("fixed-menu");
    }

    //.box-navigation right menu fixed when scroll down
    if ($(this).scrollTop() >= right_nav_top - menu_height) {
      right_nav.addClass("fixed-box-navigation");
      $("#right > .box").first().css("margin-top", right_nav_height);
    }
    else if (right_nav.hasClass("fixed-box-navigation")) {
      right_nav.removeClass("fixed-box-navigation");
      $("#right > .box").first().css("margin-top", 0);
    }

  });
});

/*
var menu = $('#nav');
var menu_top = menu.offset().top;
var menu_height = menu.outerHeight();
var win = $(window);
var win_h = win.height();

$(window).scroll(function () {
    if ($(this).scrollTop() >= menu_top) {
        if (($('#nav').hasClass('fixed-menu')) == false) {
            $('#nav').addClass('fixed-menu');
            $('#nav').stop().animate({width:menu_height, height:menu_height}, 200, function() {
                //defino height senão os <li> ficam verticais
                //o stop() evita que as animações se sobreponham em queue
                $('#menu-max').hide();
                $('#menu-min').show();
            });
        }
    } else if ($('#nav').hasClass('fixed-menu') && $(this).scrollTop() < menu_top) {
        $('#nav').removeClass('fixed-menu');}
        if ($(this).scrollTop() == 0) {
        $('#nav').stop().animate({width:"100%"}, 200, function() {
            $('#nav').css({height:"auto"}); //retoma o height original
        });
        $('#menu-max').show();
        $('#menu-min').hide();

    }
});
*/

</script>

<script>
//var songs = [
//    ["01 - Evening Star - Tyr", "{{ url_for('static', filename='music/evening_star-tyr') }}"],
//    ["02 - Lateralus - Tool", "{{ url_for('static', filename='music/lateralus-tool') }}"],
//    ["03 - Offend In Every Way - The White Strips", "{{ url_for('static', filename='music/offend_in_every_way-white_stripes') }}"]
//];

$(document).ready(function() {
var music_player = document.getElementById("music_player");
music_player.load(); //força preload do início
//var songc_mp3 = document.getElementById("song_mp3");
//var song_ogg = document.getElementById("song_ogg");
var song_active = 0;
//var song_total = songs.length;

//playlist pre loading
var songs = [];
 $(".song").each(function(){
        var load = new  Audio($(this).attr("url"));
    load.load();
    load.addEventListener('ended',function(){
       //forward();
       $('.music-forward').trigger("click");
    });
    var list = [$(this).text(), load];
    //songs.push(load);
    songs.push(list);
 });

//play or pause
$(".play-pause").click(function(e) {
    e.preventDefault();
	if (songs[song_active][1].paused) {
		//music_player.play();
        songs[song_active][1].play();
        $(this).removeClass("music-play");
        $(this).addClass("music-pause");
	} else {
		//music_player.pause();
        songs[song_active][1].pause();
        $(this).removeClass("music-pause");
        $(this).addClass("music-play");
	}
});

// next song
$('.music-forward').click(function (e) {
    e.preventDefault();

    songs[song_active][1].pause();
    
    //next song or restart list if out of entries
    song_active = song_active + 1;
    if (!songs[song_active]) {
        song_active = 0;
    }

//load mp3 or ogg - PS: at the moment all browsers suport mp3. When html5 started not all suported mp3 so this solved it, but not needed now
    //if (music_player.canPlayType('audio/mpeg;')) {
        //music_player.type= 'audio/mpeg';
        //music_player.src= songs[song_active][1] + ".mp3";
        //music_player.src= songs[song_active][1];
    //} else {
    //    music_player.type= 'audio/ogg';
    //    music_player.src= songs[song_active][1] + ".ogg";
    //}
    //music_player.load();
    //music_player.play();
    
    songs[song_active][1].currentTime = 0;
    songs[song_active][1].play();
    $('.play-pause').removeClass("music-play");
    $('.play-pause').addClass("music-pause");

    //change info text
    $('.music-title').text(songs[song_active][0]);

});

// previous song
$('.music-back').click(function (e) {
    e.preventDefault();

    songs[song_active][1].pause();
    //make the song go back to start
    
    //previous song or go to end of list if out of entries
    song_active = song_active - 1;
    if (song_active < 0) {
        song_active = songs.length - 1;
    }

    //load mp3 or ogg
    //if (music_player.canPlayType('audio/mpeg;')) {
        //music_player.type= 'audio/mpeg';
        //music_player.src= songs[song_active][1] + ".mp3";
        //music_player.src= songs[song_active][1];
    //} else {
    //    music_player.type= 'audio/ogg';
    //    music_player.src= songs[song_active][1] + ".ogg";
    //}
    //music_player.load();
    //music_player.play();
    
    songs[song_active][1].currentTime = 0;
    songs[song_active][1].play();
    $('.play-pause').removeClass("music-play");
    $('.play-pause').addClass("music-pause");

    //change info text
    $('.music-title').text(songs[song_active][0]);

});

});
</script>

</body>
</html>