{% extends 'admin/master.html' %}
{% block body %}

<h1>Manage</h1>

<br>
<p><strong>Criar thumbnails para todas as fotos:</strong></p>
<span style="font-size:12px;color:gray;">Cria thumbnail, na pasta photos_thunbnails, para todas as fotos na db Photos que não tenham.</span>
<br>
<a href="{{ url_for('photos_thumbnails') }}" target="_blank" onclick="return confirm('Are you sure?')">/photos_thumbnails ⧉</a>

<br>
<br>
<br>

<p><strong>Flask Migrate (/setup):</strong></p>
<span style="font-size:12px;color:gray;">Primeira vez=cria template migrate da bases de dados; 2ª, 3ª, etc. vez = atualiza template da base de dados</span>
<br>
<a href="{{ url_for('setup') }}" target="_blank" onclick="return confirm('Are you sure?')">/setup ⧉</a>

<br>


{% endblock %}
