{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1>{% if lang == "en" %}Photos{% else: %}Fotos{% endif %}{% if tag: %} | TAG SEARCH: <em>{{ tag }}</em>{% endif %}</h1>


<div class="tags albums-tags"><a href="{{ url_for('photos') }}" style="margin-left:0;"{% if album == "geral" %} class="tag-active"{% endif %}>Álbuns temáticos</a><a href="{{ url_for('photos', filter="conceptual") }}"{% if album == "conceptual" %} class="tag-active"{% endif %}>Álbuns conceptuais</a><a href="{{ url_for('photos', filter="personal") }}"{% if album == "personal" %} class="tag-active"{% endif %}>Álbuns pessoais</a></div>

<div style="margin:10px 0px 35px 0px;font-size:14px;color:#777777;">{% if album == "geral" %}Galeria principal com todas as fotos incluindo <em>stock photos</em> ordenadas por tema. Para comprar versões em maior resolução (6000x4000px) entrar em contacto.{% elif album == "conceptual" %}Apenas fotos conceptuais, artísticas e montagens.{% elif album == "personal" %}Galeria apenas com fotos pessoais: viagens, amigos, silly montagens, etc.{% endif %}</div>

<ul class="gallery-3 masonry-jq">
{% for photo in photos.items %}
<li class="masonry-jq-item">
    <a href="{{ url_for('static', filename='photos/'+photo["path"]) }}" target="_blank" title="{{ "#" + photo["id"]|string }}{% if photo["title"] != None: %}{{" " + photo["title"] }}{% endif %}" class="tooltip">
    <!--<a href="{{ url_for('photo_viewer', photo_id=photo.id) }}" target="_blank" title="{{photo["id"]}}">-->
        <img src="{{ url_for('static', filename='photos_thumbnails/'+photo["path"].split(".")[0]+"_thumbnail."+photo["path"].split(".")[1]) }}"></a>
</li>
{% endfor %}
</ul>


<br>
<br>

<div class="box-li" style="margin:0 auto;">
<span class="inner-box">
<div class="box-navigation-bar"><a href="{{ url_for('photos', page=previous_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first"><</a> <a href="{{ url_for('photos', page='1') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first nav-number-first">1</a>{% if last_page>2: %} <a href="{{ url_for('photos', page='2') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first nav-number-first">2</a>{% endif %} ... <form action="{{ url_for('photos') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" method="post"><input type="text" name="post_id" value="{{ photos.page }}"><input type="submit" value="go"></form> ...  <a href="{{ url_for('photos', page=next_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last">></a> <a href="{{ url_for('photos', page=last_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page }}</a>{% if last_page>2: %} <a href="{{ url_for('photos', page=last_page-1) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page-1 }}</a>{% endif %}</div>
</span>
</div>

</div><!--left-->

<!--I use masonry script to creat pinterest kind of grid here, responsive.
Without it the grid works, but is not perfect aligned in some sizes-->
<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
<!--ImagesLoaded script detects when images are fully loade.
Masonry can't calculate sizes correctly if images not loaded.-->
<script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
<script>
var $grid = $('.masonry-jq').imagesLoaded( function() {
    // init Masonry after all images have loaded
    $grid.masonry({
    // options...
    itemSelector: '.masonry-jq-item',
    horizontalOrder: true
  });
});
/*var $grid = $('.gallery-2').masonry({
    // options
    itemSelector: '.gallery-2 li'
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
});*/
</script>

{% include 'right.html' %}

{% endblock %}
