{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1>THUMBNAIL CREATION LOG:</h1>

<pre style="font-size:14px;">{{ log|safe }}</pre>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
