<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Paulo Jorge PM - Photo Viewer</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

<style type="text/css">
img {
	cursor: url('./you-image-directory/plus_cursor.png') 25 25, auto;
}
</style>
</head>

<body style="background:#333;">

{% if iframe %}
<script src="{{ url_for('static', filename='js/intense.min.js') }}" type="text/javascript"></script>
<script>
window.onload = function() {
	// Intensify all images on the page.
    //var element = document.querySelector( 'img' );
	//Intense( element );
}
</script>
<img src="{{ url_for('static', filename='photos/'+photo['path']) }}" data-title="" data-caption="">

{% else %}
<div id="left" style="margin:0px;margin-right:200px;padding:0px;">
<iframe src="{{ url_for('photo_viewer', photo_id=photo.id, iframe='True') }}" scrolling="no" style="margin:0px;padding:0px;width:100%;height:1980px;overflow:hidden;position:absolute;top:0px;left:0px;right:0px;bottom:0px;">
<img src="{{ url_for('static', filename='photos/'+photo['path']) }}">
</iframe>
</div>

<div id="right" style="width:200px;">
<div style="font-size:9px;color:gray;background:#333;padding:5px;">

<br>
<p style="text-align:center;text-decoration:none;text-transform: uppercase;"><strong><a href="{{ url_for('static', filename='photos/'+photo['path']) }}" target="_blank" style="color:#fff;">View/download photo full-size</a></strong></p>
<br>
<p style="text-decoration:underline;"><strong>PHOTO METADADATA</strong></p>
{% for tag in data.keys() %}
<p>{{ tag }}: {{ data[tag].values }}</p>
{% endfor %}
</div>
</div>
{% endif %}

</body>
</html>
