{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1>Fotos - Álbuns Temáticos</h1>
<ul class="gallery-3 masonry-jq">

<div><a href="">Todos</a> <a href="">Álbuns temáticos</a> <a href="">Álbuns conceptuais</a> <a href="">Álbuns pessoais</a></div>

<div>
{% for album in albums %}
<a href="{{ url_for('photos', show='tematic', album=album.decode('utf8')) }}">{{ album.decode('utf8') }}</a>
{% endfor %}
</div>



{% for photo in albums %}
<li>
    <a href="{{ url_for('static', filename='photos/'+photo) }}" target="_blank"><img src="{{ url_for('static', filename='photos/'+photo) }}"></a>
</li>
{% endfor %}
</ul>

<p>------</p>

<ul class="gallery-3 masonry-jq">
{% for item in list %}
{# if os.path.isdir("bob") #}
{% if item.endswith(".jpg") %}
<li>
    <a href="{{ url_for('static', filename='images/logos/logo-sedll.png') }}" target="_blank"><img src="{{ url_for('static', filename='photos/thematic/'+item) }}"></a>
</li>
{% endif %}
{% endfor %}
</ul>

<div style="font-size:10px;color:gray;">
<p style="text-decoration:underline;"><strong>METADADOS</strong></p>
{% for tag in tags.keys() %}
<p>{{ tag }}: {{ tags[tag].values }}</p>
{% endfor %}
</div>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}