{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1>{% if lang == "en" %}Music playlists{% else: %}Music playlists{% endif %}</h1>
<p style="color:gray;font-size:14px;margin-bottom:25px;"><del>Semanalmente</del> [quando calha] atualizo a lista de músicas no <em>player</em> no topo da página conforme o meu estado de espirito ou bandas que mais ouvi nessa altura. Esta página é um arquivo dessas <em>playlists</em> com a banda sonora de cada <del>semana</del> [temporada] da minha vida. Os direitos de autor pertencem a cada compositor, apenas partilho músicas que admiro. PS: no arquivo, por questões de copyright, os mp3 originais estão <strong style="text-decoration:underline;">ocultos</strong> (código-fonte "cough cough") e apenas deixo <strong>visíveis</strong> links externos para versões no youtube.</p>

<ul style="font-size:14px;">

{% set date = "" %}
{% for music in playlist %}

{% if loop.first %}
{% set day = music["day_start"] %}
<p style="margin:10px 0 0 0;"><strong>{{ music["day_start"] }}</strong></p>
{% endif %}

{% if music["day_start"] != day %}
<p style="margin:10px 0 0 0;"><strong>{{ music["day_start"] }}</strong></p>
{% set day = music["day_start"] %}
{% endif %}

<li>{{ music["title"] }}{% if music["youtube_link"] %} [<a href="{{ music["youtube_link"] }}" target="_blank">youtube</a>]{% endif %}<!-- [<a href="{{ url_for('static', filename='music/'+musics[0]["path"]) }}" target="_blank">mp3</a>]--></li>
{% endfor %}
</ul>




</div><!--left-->

{% include 'right.html' %}

{% endblock %}
