{% extends "layout.html" %}

{% block content %}

<div id="left">

<h1 id="websites">Websites</h1>
<span style="font-size:12px;color:gray;">*Seleção</span>

<br><br>

<ul class="gallery-1 websites-gallery">
    <li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/minors2020_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Major Minors</strong></p>
            <p><b>Creation date:</b> 2020</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://minors.ilch.uminho.pt/" title="http://minors.ilch.uminho.pt/" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-major-minors.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Flask</li><li>Vue</li><li>GraphDB</li><li>OWL/RDF</li><li>SPARQL</li><li>NLTK</li><li>Python</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/catlandia2019_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Catlandia</strong></p>
            <p><b>Creation date:</b> 2019</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://ceh.ilch.uminho.pt/temp/catlandia" title="http://ceh.ilch.uminho.pt/temp/catlandia" target="_blank">URL</a></p>
            <p><ul class="coding-tags"><li>Javascript</li><li>NodeJS</li><li>JQuery</li><li>HTML</li><li>CSS</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/xxco_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>XX Colóquio de Outono</strong></p>
            <p><b>Creation date:</b> 2018</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/xxco" title="http://cehum.ilch.uminho.pt/xxco" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-xxco.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MySQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/cehum2018_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>CENTRO DE ESTUDOS HUMANÍSTICOS</strong></p>
            <p><b>Creation date:</b> 2018</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt" title="http://cehum.ilch.uminho.pt" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-cehum2018-1.png') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>PostgreSQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/paulojorgepm_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Paulo Jorge PM</strong></p>
            <p><b>Creation date:</b> 2017</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://www.paulojorgepm.net" title="http://www.paulojorgepm.net" target="_blank">URL</a><!-- | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-paulojorgepm.jpg') }}" target="_blank">Screenshot</a>--></p>
            <p><ul class="coding-tags"><li>Python</li><li>Flask</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MongoDB</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/diacritica_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Revista Diacrítica</strong></p>
            <p><b>Creation date:</b> 2017</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://diacritica.ilch.uminho.pt/index.php/dia/about" title="http://diacritica.ilch.uminho.pt/index.php/dia/about" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-diacritica.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Open Journal System</li><li>HTML</li><li>CSS</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/xixco_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>XIX Colóquio de Outono</strong></p>
            <p><b>Creation date:</b> 2017</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/xixco" title="http://cehum.ilch.uminho.pt/xixco" target="_blank">URL</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MySQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/ceps_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Centro de Ética, Política e Sociedade</strong></p>
            <p><b>Creation date:</b> 2017</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://ceps.ilch.uminho.pt" title="http://ceps.ilch.uminho.pt" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-ceps.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MySQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/microrrelatos-tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Microrrelatos hispánicos (base de dados)</strong></p>
            <p><b>Creation date:</b> 2017</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/microrrelatos_xaquinnunez" title="http://cehum.ilch.uminho.pt/microrrelatos_xaquinnunez" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-microrrelatos.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>SQlite</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/relatorio2016_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Plataforma de gestão de relatórios I&D</strong></p>
            <p><b>Creation date:</b> 2016</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="https://bitbucket.org/Paulo-Jorge/report/src/master/" title="https://bitbucket.org/Paulo-Jorge/report/src/master/" target="_blank">SOURCE-CODE</a> |  Screenshots: <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-relatorio2016-1.png') }}" target="_blank">1</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-relatorio2016-2.png') }}" target="_blank">2</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-relatorio2016-3.png') }}" target="_blank">3</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>POSTGRESQL</li><li>PyRTF</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/apeaa_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>38th APEAA Conference</strong></p>
            <p><b>Creation date:</b> 2016</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/apeaa" title="hhttp://cehum.ilch.uminho.pt/apeaa" target="_blank">URL</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>SQLite</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/xviiico_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>XVIII Colóquio de Outono</strong></p>
            <p><b>Creation date:</b> 2016</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/xviiico" title="http://cehum.ilch.uminho.pt/xviiico" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-xviiico.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>SQLite</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/estetica_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>II Iberian Meeting on Aesthetics</strong></p>
            <p><b>Creation date:</b> 2015</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/estetica" title="http://cehum.ilch.uminho.pt/estetica" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-estetica.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>SQLite</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/myriades_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Revista Myriades</strong></p>
            <p><b>Creation date:</b> 2014</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/myriades" title="http://cehum.ilch.uminho.pt/myriades" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-myriades.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>SQLite</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/sedllxiv_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>XIV Congresso SEDL</strong></p>
            <p><b>Creation date:</b> 2013</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="http://cehum.ilch.uminho.pt/sedllbragaxiv" title="http://cehum.ilch.uminho.pt/sedllbragaxiv" target="_blank">URL</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-sedll.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MySQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/bragatv_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>BragaTV (1ª versão: 2013-2016)</strong></p>
            <p><b>Creation date:</b> 2013</p>
            <p class="gallery-1-website-url"><b>Open:</b> <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-bragatv.png') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JS</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>XML</li><li>PostgreSQL</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/biblioteca_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Sistema de gestão para bibliotecas</strong></p>
            <p><b>Creation date:</b> 2013</p>
            <p class="gallery-1-website-url"><b>Open:</b> PRIVADO | Screenshots: <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-biblioteca-1.jpg') }}" target="_blank">1</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-biblioteca-2.jpg') }}" target="_blank">2</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-biblioteca-3.png') }}" target="_blank">3</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-biblioteca-4.png') }}" target="_blank">4</a> | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-biblioteca-5.png') }}" target="_blank">5</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>MySQL</li><li>XML</li><li>XPath</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/falabracarense_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Repositório para projeto I&D</strong></p>
            <p><b>Creation date:</b> 2011</p>

            <p class="gallery-1-website-url"><b>Open:</b> PRIVADO | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-falabracarense.png') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>Python</li><li>Web2py</li><li>JQuery</li><li>HTML</li><li>CSS</li></ul></p>
        </div>
    </li><li>
        <div class="gallery-1-img">
            <img src="{{ url_for('static', filename='images/websites/cehum_tablet.png') }}">
        </div><div class="gallery-1-info">
            <p><strong>Centro de Estudos Humanísticos da U.M.</strong></p>
            <p><b>Creation date:</b> 2007 | ENCERRADO/BACKUP</p>
            <p class="gallery-1-website-url"><b>Open:</b> ULR | <a href="{{ url_for('static', filename='images/websites/screeshots/screenshot-cehum.jpg') }}" target="_blank">Screenshot</a></p>
            <p><ul class="coding-tags"><li>PHP</li><li>JQuery</li><li>HTML</li><li>CSS</li><li>XML</li><li>MySQL</li></ul></p>
        </div>
    </li>
</ul>

<div id="programming"></div>

<br>
<br>

<h1>{% if lang == "en" %}Programming{% else: %}Programação{% endif %}</h1>
<span style="font-size:12px;color:gray;">*Seleção</span>

<br>

<ul class="gallery-4">

<li>
<p class="gray-tag">Major Minors</p> <p class="gray-tag">Arquivo.pt 2021 1st place</p>
<p>This project was submitted to the Arquivo.pt 2021 annual competition (fourth edition), promoted by FCT/FCCN, winning the 1st prize (<a href="https://sobre.arquivo.pt/pt/conheca-os-vencedores-do-premio-arquivo-pt-2021" target="_blank">URL</a>). Major Minors is a project centered around identifying and collecting press clippings in digital newspapers that refer subjects related with social minorities, building a Knwoledge Graph and corpus based on those relationships.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="http://minors.ilch.uminho.pt" target="_blank" style="margin-left:0px;">Website</a> <a href="http://minors.ilch.uminho.pt/press" target="_blank" style="margin-left:0px;">Press Clipings</a> <a href="https://sobre.arquivo.pt/pt/conheca-os-vencedores-do-premio-arquivo-pt-2021" target="_blank" style="margin-left:0px;">Arquivo.pt 2021</a></div> <ul class="coding-tags" style="text-align:right;"><li>RDF</li><li>OWL</li><li>Turtle</li><li>GraphDB</li><li>Flask</li><li>Vue</li><li>Python</li></ul></p>
</li>


<li>
<p class="gray-tag">Bosch Project</p> <p class="gray-tag">2021</p> <p class="gray-tag">Car Sharing</p>
<p>Colaborative project developed for Bosch for monitoring vehicles in a Car Sharing context - the objective was to manage and detect anomalies (smoke, fire, smell, etc.) inside the vehicles (made by a team of 11 developers).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://tsource98.github.io/PEI/" target="_blank" style="margin-left:0px;">Website (Report)</a> <a href="https://www.youtube.com/watch?v=7cVd6xf9Weg" target="_blank" style="margin-left:0px;">Demo (Video)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Flask</li><li>Spring Boot</li><li>Machine Learning</li><li>Embeded Programming</li><li>Vue</li></ul></p>
</li>

<li>
<p class="gray-tag">Language IDE</p> <p class="gray-tag">Software</p> <p class="gray-tag">Research</p>
<p>Text IDE for language processing. Text editor focused on linguistic analysis and academic research.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/text-ide-kivy" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Kivy</li><li>Python</li><li>C</li></ul></p>
</li>

<li>
<p class="gray-tag">Grammar acquisition</p> <p class="gray-tag">Research</p> <p class="gray-tag"><em>OpenGL</em></p> <p class="gray-tag">Videogame</p>
<p>Software/videogame created in the context of a research project to collect data related with children with Specific Language Impairment and Grammar Acquisition. Related publication: "Do children with Specific Language Impairment (SLI) present implicit learning (IL) deficits? Evidence from an Artificial Grammar Learning (AGL) paradigm" (2018), doi: http://dx.doi.org/10.1186/s12913-018-3444-8.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/test_grammar_patterns" style="margin-left:0px;" target="_blank">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Pyglet</li><li>OpenGL</li></ul></p>
</li>

<li>
<p class="gray-tag">NLP</p> <p class="gray-tag">Research</p>
<p>Natural Language Processing: extraction of characters relashionships from books.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/spln1/src/master/" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>NLKT</li><li>Matplotlib</li><li>Jinja</li><li>Python</li></ul></p>
</li>

<li>
<p class="gray-tag">CFD Trading</p> <p class="gray-tag">Software</p>
<p>App for stock trading (CFDs).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/app-trading" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Webviews</li><li>Oanda</li><li>Flask</li><l>PyDal (ORM)</li></ul></p>
</li>

<li>
<p class="gray-tag">Videogame</p> <p class="gray-tag">Parallax effect</p> <p class="gray-tag">OpenGL</p>
<p>Earlier prototype of the previous project. It was more game oriented, the user could control a raining cloud.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/cloud_rain" style="margin-left:0px;" target="_blank">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Pyglet</li><li>OpenGL</li></ul></p>
</li>

<li>
<p class="gray-tag">Videogame</p> <p class="gray-tag">Pedagogical game</p> <p class="gray-tag">Prototype</p> <p class="gray-tag">Open-Source</p>
<p>Pedagogical videogame prototype. Objective: to teach a foreign language.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/language_game_cocos2d" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>OpenGL</li><li>Cocos2D</li></ul></p>
</li>

<li>
<p class="gray-tag">Videogame</p> <p class="gray-tag">Snake Game</p> <p class="gray-tag">SDL</p>
<p>Snake game clone.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/snake_game_pygame" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Pygame</li><li>SDL</li></ul></p>
</li>


<li>
<p class="gray-tag">Videogame</p> <p class="gray-tag">Animation & 2D movement</p> <p class="gray-tag">Open-Source</p>
<p>Animation and movement study for Pyglet (Python OpenGL bindings).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/pyglet_game_animation" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Pyglet</li></ul></p>
</li>

<li>
<p class="gray-tag">Website</p> <p class="gray-tag">Platform</p> <p class="gray-tag">R&D</p> <p class="gray-tag">Open-Source</p>
<p>Website for automatic compilation of Research Centers reports - data collection and statistics for anual reports. This project was abandoned becasue at the moment I created a better system, but can't share it yet for security reasons.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/report" target="_blank" style="margin-left:0px;">Download (Git)</a> <a href="http://toaki.pythonanywhere.com/report" target="_blank" style="margin-left:0px;">Test entry page</a> <a href="http://toaki.pythonanywhere.com/report/default/ver" target="_blank" style="margin-left:0px;">Test private page</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>Web2py</li><li>SQLite</li></ul></p>
</li>

<li>
<p class="gray-tag">Collatz Conjecture</p> <p class="gray-tag">Mathematics</p> <p class="gray-tag">Open-Source</p>
<p>Calculator for the Collatz Conjecture.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="http://cehum.ilch.uminho.pt/collatz" target="_blank" style="margin-left:0px;">View website</a> <a href="https://bitbucket.org/Paulo-Jorge/collatz" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Javascript</li><li>JQuery</li><li>HTML</li><li>CSS</li></ul></p>
</li>

<li>
<p class="gray-tag">Script</p> <p class="gray-tag">E-mails & Links Crawler/Extractor</p> <p class="gray-tag">Open-Source</p>
<p>Crawler e extrator de e-mails/links nas sub-páginas de um website.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/mail_links_extractor/overview" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>LXML</li></ul></p>
</li>

<li>
<p class="gray-tag">Script</p> <p class="gray-tag">Change the name of files in a folder</p> <p class="gray-tag">Open-Source</p>
<p>Script com GUI Tkinter para alteração automática do nome dos ficheiros numa pasta com determinada extensão (criei para renomear ficheiros da máquina fotográfica).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/change_files_name" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>TKinter</li></ul></p>
</li>

<li>
<p class="gray-tag">Script</p> <p class="gray-tag">Crawler</p> <p class="gray-tag">Open-Source</p>
<p>Extrator/download automático de ficheiros num website com determinada extensão.</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/download_files_from_website" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>LXML</li><li>XPath</li></ul></p>
</li>

<li>
<p class="gray-tag">Scripts</p> <p class="gray-tag">Linguistics/Corpura</p> <p class="gray-tag">EXB->HTML->TMX</p> <p class="gray-tag">Open-Source</p>
<p>Scripts vários para apoio de projetos relacionados com Linguística/Corpora: tratamento de ficheiros de transcrições de entrevistas em EXB do software EXMARaLDA para alinhamento noutro software (YouAlign).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://bitbucket.org/Paulo-Jorge/scripts_corpora" target="_blank" style="margin-left:0px;">Download (Git)</a></div> <ul class="coding-tags" style="text-align:right;"><li>Python</li><li>LXML</li><li>EXMARaLDA</li><li>YouAlign</li></ul></p>
</li>

</ul>

<div id="academia"></div>

<br>
<br>

<h1>{% if lang == "en" %}Academia{% else: %}Academia{% endif %}</h1>

<ul class="gallery-4">
<li>
<p class="gray-tag">Research</p> <p class="gray-tag">Scientific Output</p> <p class="gray-tag">Academia</p>
<p>All my scientific output (papers, conferences, projects etc.) can be found at Ciência Vitae (main source) or ORCID (can be outdated).</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="https://www.cienciavitae.pt/pt/E21C-96CA-84E1" target="_blank" style="margin-left:0px;">Ciência Vitae</a> <a href="https://orcid.org/0000-0002-1521-0014" target="_blank" style="margin-left:0px;">ORCID</a></div> <ul class="coding-tags" style="text-align:right;"><li>Computational Linguistics</li><li>NLP</li><li>Web Development</li><li>Graphics/Videogames</li></ul></p>
</li>
</ul>

<div id="posters"></div>

<br>
<br>

<h1>{% if lang == "en" %}Posters{% else: %}Cartazes{% endif %}</h1>
<span style="font-size:12px;color:gray;">*Seleção</span>

<br>

<ul class="gallery-2 masonry-jq">
<li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/xxco.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/xxco-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/xixco.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/xixco-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/babelium.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/babelium-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/shakespeare-v3.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/shakespeare-v3-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/v-meetings-v1.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/v-meetings-v1-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/camilo-assis-v2.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/camilo-assis-v2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/adriana_calcanhoto.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/adriana_calcanhoto-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/sc-linguistics-2015-v2.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/sc-linguistics-2015-v2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/intercultural-poetics-v2.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/intercultural-poetics-v2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/transcehum-ii.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/transcehum-ii-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/mestrado-fil.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/mestrado-fil-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/intercultural-poetics-v1.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/intercultural-poetics-v1-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/variation.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/variation-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/esotericos.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/esotericos-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/sc-banking.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/sc-banking-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/v-meetings-v2.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/v-meetings-v2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/babelium2.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/babelium2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/xvi-co-v1.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/xvi-co-v1-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/xvi-co-v2.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/xvi-co-v2-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/xv-co.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/xv-co-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/galabra.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/galabra-mini.png') }}"></a>
</li><li class="gallery-2-item masonry-jq-item">
    <a href="{{ url_for('static', filename='images/posters/original/roll-up-catedra.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/posters/thumbnail/roll-up-catedra-mini.png') }}"></a>
</li>
</ul>

<div id="logos"></div>

<br>
<br>

<h1>{% if lang == "en" %}Logos{% else: %}Logotipos{% endif %}</h1>

<br>

<ul class="gallery-3">
<li>
    <a href="{{ url_for('static', filename='images/logos/logo-sedll.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-sedll-mini.png') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-stpatrick.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-stpatrick-mini.png') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-techling2016.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-techling2016.png') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-netcult.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-netcult-mini.png') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-paulo-jorge-pm.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-paulo-jorge-pm.jpg') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-cehum.png') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-cehum-mini.png') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-diacritica.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-diacritica-mini.jpg') }}"></a>
</li><li>
    <a href="{{ url_for('static', filename='images/logos/logo-niclaus.jpg') }}" target="_blank"><img src="{{ url_for('static', filename='images/logos/logo-niclaus.jpg') }}"></a>
</ul>

<div id="poems"></div>

<br>
<br>

<h1>{% if lang == "en" %}Poetry{% else: %}Poesia{% endif %}</h1>

<br>

<ul class="gallery-4">
<li>
<p class="gray-tag"><em>CAOS⮂COSMOS</em></p> <p class="gray-tag">Poetry</p> <p class="gray-tag">Book</p>
<p>Publicarei todos os poemas que escrever nesta jornada chamada vida num único livro: "Caos-Cosmos". De tempos a tempos, quando transbordar novo material a molhos, compilarei novas edições. O livro será composto por partes opostas simétricas dos mesmos poemas sem distinção entre começo e fim, tal como a vida.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/poems/caos-cosmos.pdf') }}" target="_blank" style="margin-left:0px;">Ver livro - lado CAOS [PDF]</a> <a href="{{ url_for('static', filename='pdf/poems/cosmos-caos.pdf') }}" target="_blank">Ver livro - lado COSMOS [PDF]</a> <a href="{{ url_for('static', filename='images/caos-cosmos.jpg') }}" target="_blank">Foto de versões impressas</a></div></p>
</li>

<li>
<p class="gray-tag">Digital Poetry</p> <p class="gray-tag">Web</p> <p class="gray-tag"><em>O amor faz ver mais além</em></p>
<p>Poema digital que criei há muitos anos. Apenas testado em versões pré-históricas do Chrome e Firefox, nunca testei nem adaptei para mobile. Clica e fará sentido....</p>
<p style="margin-top:10px;"><div class="tags" style="float:left;"><a href="http://cehum.ilch.uminho.pt/jquery_teste2" style="margin-left:0px;" target="_blank">Ver página</a></div> <ul class="coding-tags" style="text-align:right;"><li>Javascript</li><li>JQuery</li><li>HTML</li><li>CSS</li></ul></p>
</li>

</ul>

<div id="texts"></div>

<br>
<br>

<h1>{% if lang == "en" %}Texts{% else: %}Textos{% endif %}</h1>
<span style="font-size:12px;color:gray;">*Seleção</span>

<br>

<ul class="gallery-4">
<li>
<p class="gray-tag"><em>Axiomas do ser</em></p> <p class="gray-tag">Conto</p> <p class="gray-tag">Creative writing</p>
<p>Um conto dos tempos de aluno. Como qualquer bom aluno, foi criado em cima do joelho na noite antes do fim do prazo, por isso nunca foi revisto e descambou a partir de metade. Um dia reescrevo.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/texts/conto_axiomas_do_ser.pdf') }}" target="_blank" style="margin-left:0px;">Ler [PDF]</a></div></p>
</li>

<li>
<p class="gray-tag"><em>Ilha das Flores - O anti-documentário</em></p> <p class="gray-tag">Essay</p> <p class="gray-tag">History and Cinema Aesthetics</p>
<p>Ensaio dos tempos em que me aventurei num Mestrado sobre Cinema, dissecando uma obra à luz da "História e Estética do Cinema". a obra foi o documentário "Ilha das Flores", um dos meus preferidos.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/texts/ensaio_ilha_das_flores.pdf') }}" target="_blank" style="margin-left:0px;">Ler [PDF]</a></div></p>
</li>

<li>
<p class="gray-tag"><em>Epifania do Vagabundo</em></p> <p class="gray-tag">Short Story</p>
<p>Conto tosco e antigo, dos poucos que ainda sobrevive rascunho dos fundos da gaveta. Não me orgulho, precisa ser reescrito.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/texts/epifania_do_vagabundo.pdf') }}" target="_blank" style="margin-left:0px;">Ler [PDF]</a></div></p>
</li>

<li>
<p class="gray-tag"><em>Literatura extra-muros</em></p> <p class="gray-tag">Essay</p>
<p>Reflexão pré-histórica perdida num recanto nas entranhas do computador. Lembro-me que começou como esboço de algo a falar numa conferência sobre um projeto, mas como habitual eu não fui à conferência porque não gosto de falar em público. Viva a escrita! Morte à oralidade!</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/texts/literatura_extra_muros.pdf') }}" target="_blank" style="margin-left:0px;">Ler [PDF]</a></div></p>
</li>

<li>
<p class="gray-tag">Dissertation</p> <p class="gray-tag"><em>Interactive Humanities</em></p>
<p>Uma inútil dissertação final do  meu 1º Mestrado em Literatura e Cinema (ah, saudadades de ser jovem e sonhador - agora sou apenas velho e sonhador). Aqui entre nós, da totalidade de um ano que tive para escrever a tese, 10 meses foram a programar videojogos e a aprender novas linguagens de programação, só os restantes dois foram a escrever - valeu pelos 10 meses iniciais, souberam-me pela vida, o resto fica para museu.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='pdf/texts/tese_mestrado.pdf') }}" target="_blank" style="margin-left:0px;">Ler [PDF]</a></div></p>
</li>

</ul>

<div id="music"></div>

<br>
<br>

<h1>{% if lang == "en" %}Music{% else: %}Música{% endif %}</h1>

<br>

<ul class="gallery-4">
<li>
<p class="gray-tag">Guitar</p> <p class="gray-tag">Jam</p> <p class="gray-tag">Maquetes/Prototypes/Jams</p>
<p>Sou um aprendiz de guitarra e piano autodidata, muito verde e sem ouvido ou cordas vocais, mas é relaxante brincar aos músicos. Divirto-me a inventar letras, riffs, sons, melodias etc. Isso não significa que invente coisas boas, pelo contrário, apenas que me divirto no processo. Como tenho preguiça em registar em pauta e me esqueço facilmente, às vezes gravo as sessões e recorto parcelas que um dia possma servir de conceito a algo melhor. Estes gatafunhos sonoros ficam em arquivo apenas como isso, nenhuma é obra digna de ser ouvida, apenas trampolim para a inspiração.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=YwpJ9bszsKw" target="_blank" style="margin-left:0px;">Riff rascunho #1</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=8hdqvxU6prw" target="_blank" style="margin-left:0px;">Riff rascunho #2</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=VCismozq62c" target="_blank" style="margin-left:0px;">Riff rascunho #3</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=dX_pA5rSyvU" target="_blank" style="margin-left:0px;">Melodia/riff rascunho #4</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=CQAES9wKBNk" target="_blank" style="margin-left:0px;">Riff rascunho #5</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=FMjrK2kllJg" target="_blank" style="margin-left:0px;">Riff rascunho #6</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=J4htOHPLF2g" target="_blank" style="margin-left:0px;">Riff rascunho #7</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=OqOdDxE1MFM" target="_blank" style="margin-left:0px;">Riff rascunho #8</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=mfAijj-gErE" target="_blank" style="margin-left:0px;">Riff rascunho #9</a></div></p>

<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=XKmZI5ZidCY" target="_blank" style="margin-left:0px;">Silly riff and sheet in TuxGuitar</a></div></p>

<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=oj7cB3Y-fgQ" target="_blank" style="margin-left:0px;">Maquete - estudo de melodia para um poema embrionário: "Loving, dreaming, is all life is about"</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=LW9DvPedYWc" target="_blank" style="margin-left:0px;">Maquete - rascunho de acordes e variações para um poema que escrevi: "Passo a passo"</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=Vpr84iNnpJk" target="_blank" style="margin-left:0px;">Maquete - Improviso de melodia e mote de versos para uma música de intervenção embrionária: "A praia é de toda a gente"</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=1ol6XfVmhpQ" target="_blank" style="margin-left:0px;">Maquete - Estudo de melodia para letra em estado embrionário: "Life is running low"</a></div></p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=Xj6tXAhhU4M" target="_blank" style="margin-left:0px;">Maquete - Estudo de melodia para letra em estado embrionário: "I cannot dream, I cannot fight, if life is a lie"</a></div></p>
</li>

<li>
<p class="gray-tag">Guitarra Elétrica</p> <p class="gray-tag">Cover</p> <p class="gray-tag">White Stripes - <em>Offend In Every Way</em></p>
<p>Espécie de cover aldrabada da primeira música que aprendi a tocar quando comprei uma guitarra elétrica (Yamaha Pacifica 112V FTW!) - já lá vão vários anos. A qualidade musical é péssima, mas a intensão é ir gravando novas versões ao longo do tempo, sempre desta mesma música, para comparar a minha evolução. (PS: com muita pena minha não sei cantar, perdão pelos ouvidos alheios...)</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=NmEw4mwduM8" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

<li>
<p class="gray-tag">You are my kitty</p> <p class="gray-tag">Silly music</p></p>
<p>Às vezes cantarolo <em>silly musics</em> (músicas parvas). Não me orgulho das palhaçadas que faço quando estou sozinho em casa, mas tudo o que possa servir para fazer alguém sorrir, nem que seja à minha pala, é bom.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=GHwky0mp2Og" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

<li>
<p class="gray-tag">Homenagem ao Fernando Pessoa</p> <p class="gray-tag">"Rivers"</p> <p class="gray-tag">Poema musicado</p></p>
<p>Idolatro o Fernando Pessoa. Ele é incrível. Anualmente, quando me lembro da data de aniversário dele, tento fazer algo em sua honra. Uma vez escrevi um poema, noutra reli um livro, etc. Em 2017 resolvi transformar em música um poema dele: "Rivers", da coleção "Poemas Ingleses". Alterei apenas alguns versos pois preferia com outro sentido e seria mais fácil de adaptar. E voilà: eis um assassinato musical a um dos poetas maiores no universo (não consigo cantar). Apesar da falta de jeito fica a intenção e um abraço inter-planos-etéricos-se-existir-vida-depois-da-vida ao eterno Fernando Pessoa. PS: entre as tentativas-erro resultaram duas versões; tive pena em apagar uma e escolher a outra: um filho mesmo que feio é sempre um filho.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=Z615Mlc54go" target="_blank" style="margin-left:0px;">Versão 1</a> <a href="https://www.youtube.com/watch?v=asE7scK-TME" target="_blank" style="margin-left:0px;">Versão 2</a></div></p>
</li>

<li>
<p class="gray-tag">Guitarra Elétrica</p> <p class="gray-tag">Cover</p> <p class="gray-tag">Astronomia (Coffin Dance)</p>
<p>Pseudo-cover da música Astronomia (do meme Coffin Dance).</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=fhoAzO6c9jM" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

<li>
<p class="gray-tag">Cover</p> <p class="gray-tag">Cecilia by Simon & Garfunkel</p> <p class="gray-tag">Guitarra Clássica</p>
<p>Cover adaptada da música Cecilia do Paul Simon & Art Garfunkel.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=JA7YcKhxreI" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

<li>
<p class="gray-tag">Maquete</p> <p class="gray-tag">Under the moonlight</p> <p class="gray-tag">Guitarra Elétrica</p>
<p>Esboço de melodia para música a compor - Under the moonlight.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=qcUSzc-c3l4" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

</ul>

<div id="photos"></div>

<br>
<br>

<h1>{% if lang == "en" %}Photography{% else: %}Fotografia{% endif %}</h1>

<br>

<div class="photo-gallery">
<a href="{{ url_for('photos') }}{% if lang =='en': %}?lang=en{% endif %}">
    <div class="gallery-title"><p>Álbuns temáticos - Todas as fotos, incluindo stock photos</p><span></span></div>
    <ul class="gallery-2">
    <li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_tematico_pombas.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_tematico_worker.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_tematico_coral.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_tematico_gata_mica.png') }}">
    </li>

    <li class="etc-item">etc.</li>
    </ul>

    <span class="view-more-gallery"><span>ver todas</span></span>
</a>
</div>

<div class="photo-gallery">
<a href="{{ url_for('photos') }}?filter=conceptual{% if lang =='en': %}&lang=en{% endif %}">
    <div class="gallery-title"><p>Álbuns conceptuais - Fotos conceptuais e montagens</p><span></span></div>
    <ul class="gallery-2">
    <li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_conceptual_esquisofrenia-mini.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_conceptual_espelhos1.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_conceptual_montagem_quarto.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_conceptual_espelhos6.png') }}">
    </li>

    <li class="etc-item">etc.</li>
    </ul>

    <span class="view-more-gallery"><span>ver todas</span></span>
</a>
</div>

<div class="photo-gallery">
<a href="{{ url_for('photos') }}?filter=personal{% if lang =='en': %}&lang=en{% endif %}">
    <div class="gallery-title"><p>Álbuns pessoais - Fotos da minha vida</p><span></span></div>
    <ul class="gallery-2">
    <li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_pessoal_cies.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_pessoal_eu_cies_album_pessoal.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_pessoal_carris_eu.png') }}">
    </li><li class="gallery-2-item">
        <img src="{{ url_for('static', filename='images/photos-no-db/thumbnail/album_pessoal_caes.png') }}">
    </li>

    <li class="etc-item">etc.</li>
    </ul>

    <span class="view-more-gallery"><span>ver todas</span></span>
</a>
</div>

<div id="videos"></div>

<br>
<br>

<h1>{% if lang == "en" %}Video{% else: %}Vídeo{% endif %}</h1>

<br>

<ul class="gallery-4">

<li>
<p class="gray-tag">Wooden boat</p> <p class="gray-tag">Barco de madeira</p> <p class="gray-tag">Video editing</p> <p class="gray-tag">Pirate Metal</p>
<p>Em 2013, nas férias de verão, depois de um longo ano de trabalho, decidi que queria passar o verão a flutuar de barco no rio. Resolvi o assunto com 10 euros, comprei apenas cola: com tábuas velhas e uma lata de tinta encostadas num canto da casa fiz o meu primeiro barco de madeira. Toda a minha infância foi passada a construir cabanas e jangadas pelas margens do Cávado, por isso experiência náutica não me faltava - apenas o jeito não me assistia. O resultado final foi tosco mas nunca me levou ao fundo do Rio Cávado. Para inagurar a primeira ida do barco ao rio gravei um vídeo e fiz uma montagem.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=WD9h8PfCg4c" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

<li>
<p class="gray-tag">Video editing</p> <p class="gray-tag">Colloquium</p> <p class="gray-tag">Yann Tiersen</p>
<p>Montagem que fiz há muitos anos, com fotos de um colóquio para o promover. É ultra básico (mal tinha matéria-prima, apenas umas fotos toscas) mas foi o primeiro fruto nesse emprego, por isso fica para recordação.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=ekdi3eVBaDM" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

</ul>

<div id="wood"></div>

<br>
<br>

<h1>{% if lang == "en" %}Wood / Handmade{% else: %}Madeira{% endif %}</h1>

<br>

<ul class="gallery-4">

<li>
<p class="gray-tag">Wood cups</p> <p class="gray-tag">Handmade</p> <p class="gray-tag">Cálices de madeira</p> <p class="gray-tag">Tornearia artesanal</p>
<p>Esculturas em madeira (das poucas que foram sobrevivendo ao tempo) criadas num torno artesanal.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup1-1.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 1-1</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup1-2.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 1-2</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup2-1.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 2-2</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup2-2.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 2-2</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup3-1.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 3-1</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup3-2.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 3-2</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup4-1.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 4-1</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood_cup4-2.jpg') }}" target="_blank" style="margin-left:0px;">Cálice 4-2</a></div></p>
</li>

<li>
<p class="gray-tag">Wood pen</p> <p class="gray-tag">Handmade</p> <p class="gray-tag">Caneta de madeira</p> <p class="gray-tag">Tornearia artesanal</p>
<p>Há muitos anos, quando ainda era adolescente e o mundo era um mar de sonhos e ilusões à espera de nos devorar, esculpi uma caneta de madeira num torno artesanal e fiz furação para encaixar recargas de tinta de canetas normais.</p>
<p style="margin-top:10px;"><div class="tags"><a href="{{ url_for('static', filename='images/photos-no-db/original/wood-pen-1.jpg') }}" target="_blank" style="margin-left:0px;">Foto 1</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood-pen-2.jpg') }}" target="_blank" style="margin-left:0px;">Foto 2</a> <a href="{{ url_for('static', filename='images/photos-no-db/original/wood-pen-3.jpg') }}" target="_blank" style="margin-left:0px;">Foto 3</a></div></p>
</li>

<li>
<p class="gray-tag">Wooden boat</p> <p class="gray-tag">Handmade</p> <p class="gray-tag">Barco de madeira</p>
<p>Fiz um barco de madeira nas férias de 2013 e um vídeo/montagem da inauguração.</p>
<p style="margin-top:10px;"><div class="tags"><a href="https://www.youtube.com/watch?v=WD9h8PfCg4c" target="_blank" style="margin-left:0px;">Open (Youtube)</a></div></p>
</li>

</ul>


<!--I use masonry script to creat pinterest kind of grid here, responsive.
Without it the grid works, but is not perfect aligned in some sizes-->
<script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>
<!--ImagesLoaded script detects when images are fully loade.
Masonry can't calculate sizes correctly if images not loaded.-->
<script src="{{ url_for('static', filename='js/imagesloaded.min.js') }}"></script>
<script>
var $grid = $('.masonry-jq').imagesLoaded( function() {
    // init Masonry after all images have loaded
    $grid.masonry({
    // options...
    itemSelector: '.masonry-jq-item',
    horizontalOrder: true
  });
});
/*var $grid = $('.gallery-2').masonry({
    // options
    itemSelector: '.gallery-2 li'
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
});*/
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/tooltipsy.min.js') }}"></script>
<script type="text/javascript">
$('.photo-gallery').mouseover(function() {
    $('.view-more-gallery', this).addClass('view-more-gallery-active');
});
$('.photo-gallery').mouseout(function() {
    $('.view-more-gallery', this).removeClass('view-more-gallery-active');
});


  //  $('.tooltip').tooltipsy({
     //   delay: '0',
     //   alignTo: 'element',
     //   css: {

//'position':'absolute',
//'top':'70px',
//        }
//    });
</script>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
