<div id="right">

{# if request.path == "/portfolio": #}
{% if request.endpoint == "portfolio": %}
<div id="box-navigation">
<h4>{% if lang == "en" %}Navigation{% else: %}Navegação{% endif %}</h4>
<span class="inner-box">
<ul>
<li><a href="#body-wrapper">Websites</a></li>
<li><a href="#programming">{% if lang == "en" %}Programming{% else: %}Programação{% endif %}</a></li>
<li><a href="#academia">{% if lang == "en" %}Academia{% else: %}Academia{% endif %}</a></li>
<li><a href="#posters">{% if lang == "en" %}Posters{% else: %}Cartazes{% endif %}</a></li>
<li><a href="#logos">{% if lang == "en" %}Logos{% else: %}Logotipos{% endif %}</a></li>
<li><a href="#poems">{% if lang == "en" %}Poetry{% else: %}Poesia{% endif %}</a></li>
<li><a href="#texts">{% if lang == "en" %}Texts{% else: %}Textos{% endif %}</a></li>
<li><a href="#music">{% if lang == "en" %}Music{% else: %}Música{% endif %}</a></li>
<li><a href="#photos">{% if lang == "en" %}Photography{% else: %}Fotografia{% endif %}</a></li>
<li><a href="#videos">{% if lang == "en" %}Video{% else: %}Vídeo{% endif %}</a></li>
<li><a href="#wood">Madeira</a></li>
</ul>
</span>
</div>

{% elif request.endpoint == "shop": %}
<div id="box-navigation">
<h4>{% if lang == "en" %}Navigation{% else: %}Navegação{% endif %}</h4>
<span class="inner-box">
<ul>
<li><a href="#job_programming">{% if lang == "en" %}Web/Software{% else: %}Web/Programação{% endif %}</a></li>
<li><a href="#job_design">Design</a></li>
<li><a href="#job_computers">{% if lang == "en" %}Hardware{% else: %}Reparações{% endif %}</a></li>
<li><a href="#job_humanities">{% if lang == "en" %}Humanities{% else: %}Humanidades{% endif %}</a></li>
</ul>
</span>
</div>

{% elif request.endpoint == "blog": %}
<div id="box-navigation" class="blog-nav">
<h4>Posts - {% if lang == "en" %}Navigation{% else: %}Navegação{% endif %}</h4>
<span class="inner-box">
<ul>
{% for nav in nav_posts: %}
<li{% if page==nav.id: %} class="post-current"{% endif %}><span>{{ nav.id }}</span> <a href="{{ url_for('blog', page=nav.id) }}{% if lang =='en': %}?lang=en{% endif %}">{{ nav.title }}</a></li>
<!--<li{# if nav['id'] == post_current:#} class="post-current"?{# pass #}><span>{{ post.id }}</span> <a href="{{ url_for('blog', variable=post.id) }}">{{ post.title }}</a></li>-->
{% endfor %}
</ul>
<div class="box-navigation-bar"><a href="{{ url_for('blog', page=previous_page) }}{% if lang =='en': %}?lang=en{% endif %}" class="nav-btn nav-first"><</a> <a href="{{ url_for('blog', page='1') }}{% if lang =='en': %}?lang=en{% endif %}" class="nav-btn nav-first nav-number-first">1</a><span class="box-navigation-bar-space"> ... </span><form action="{{ url_for('blog') }}{% if lang =='en': %}?lang=en{% endif %}" method="post"><input type="text" name="post_id" value="{{ page }}"><input type="submit" value="go"></form><span class="box-navigation-bar-space"> ...  </span><a href="{{ url_for('blog', page=next_page) }}{% if lang =='en': %}?lang=en{% endif %}" class="nav-btn nav-last">></a> <a href="{{ url_for('blog', page=total_posts) }}{% if lang =='en': %}?lang=en{% endif %}" class="nav-btn nav-last nav-number-last">{{ total_posts }}</a></div>
</span>
</div>

{% elif request.endpoint == "photos": %}
<div id="box-navigation" class="blog-nav">
<h4>{% if lang == "en" %}Photos - Navigation{% else: %}Fotos - Navegação{% endif %}</h4>
<span class="inner-box">
<div class="box-navigation-bar"><a href="{{ url_for('photos', page=previous_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first"><</a> <a href="{{ url_for('photos', page='1') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first nav-number-first">1</a>{% if last_page>2: %} <a href="{{ url_for('photos', page='2') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-first nav-number-first">2</a>{% endif %} ... <form action="{{ url_for('photos') }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" method="post"><input type="text" name="post_id" value="{{ photos.page }}"><input type="submit" value="go"></form> ...  <a href="{{ url_for('photos', page=next_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last">></a> <a href="{{ url_for('photos', page=last_page) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page }}</a>{% if last_page>2: %} <a href="{{ url_for('photos', page=last_page-1) }}{% if tag or album != "geral": %}{% if album != "geral": %}?filter={{ album }}{% elif tag: %}?tag={{ tag }}{% endif %}{% if lang =='en': %}&lang=en{% endif %}{% else: %}{% if lang =='en': %}?lang=en{% endif %}{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page-1 }}</a>{% endif %}</div>
</span>

{% if tags: %}
<div class="tags" style="margin-top:20px;">
<h4>Tags:</h4>
<span class="inner-box" style="padding:5px;">
{% for t in tags|sort(attribute='tag'): %}<a href="{{ url_for('photos') + "?tag=" + t['tag']}}{% if lang =='en': %}&lang=en{% endif %}"{% if tag == t['tag']: %} class="tag-active"{% endif %}>{{ t['tag'] }}</a>{% endfor %}
</span>
</div>
{% endif %}
<!--
<br>
<h4>Ver:</h4>
<form action="{{ url_for('photos') }}" method="post">
<select>
<option value="10">10</option>
<option value="25">25</option>
<option value="50">50</option>
</select>
<input type="submit" value="go">
</form>-->
</div>

{% elif request.endpoint == "tags": %}
<div id="box-navigation" class="blog-nav">
<h4>{% if lang == "en" %}Tagged Photos - Navigation{% else: %}Tags de Fotos - Navegação{% endif %}</h4>
<span class="inner-box">
<div class="box-navigation-bar"><a href="{{ url_for('tags', page=previous_page) + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-first"><</a> <a href="{{ url_for('tags', page='1') + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-first nav-number-first">1</a>{% if last_page>2: %} <a href="{{ url_for('tags', page='2') + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-first nav-number-first">2</a>{% endif %} ... <form action="{{ url_for('tags') + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" method="post"><input type="text" name="post_id" value="{{ posts.page }}"><input type="submit" value="go"></form> ...  <a href="{{ url_for('tags', page=next_page) + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-last">></a> <a href="{{ url_for('tags', page=last_page) + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page }}</a>{% if last_page>2: %} <a href="{{ url_for('tags', page=last_page-1) + "?tag=" + tag }}{% if lang =='en': %}&lang=en{% endif %}" class="nav-btn nav-last nav-number-last">{{ last_page-1 }}</a>{% endif %}</div>
</span>
</div>


{# if request.path == "/" or request.path == "/index": #}
{% else: %}
<div class="box" style="line-height:0;">
<h4>{% if lang == "en" %}I work with{% else: %}Trabalho com{% endif %}:</h4>
<a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}#websites" class="job-link"><div class="job-box job-web" style="margin-bottom:15px;"><div class="job-text">Web</div></div></a><a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}#posters" class="job-link"><div class="job-box job-design" style="margin-bottom:15px;margin-right:0px;"><div class="job-text">Design</div></div></a><a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}#programming" class="job-link"><div class="job-box job-programacao"><div class="job-text">{% if lang == "en" %}Programming{% else: %}Programação{% endif %}</div></div></a><a href="{{ url_for('portfolio') }}{% if lang =='en': %}?lang=en{% endif %}#poems" class="job-link"><div class="job-box job-traducao" style="margin-right:0px;"><div class="job-text">{% if lang == "en" %}Humanities{% else: %}Letras{% endif %}</div></div></a>



<!--<div class="job-box job-web" style="position:relative;"><a href="#" class="job-text" style="position:absolute;bottom:0;">Web</a></div><div class="job-box job-design" style="margin-left:0px;"></div>
<div class="job-text" style="margin-bottom:15px;"><a href="#">Web</a></div><div class="job-text" style="margin-left:0px;margin-bottom:15px;"><a href="#">Design</a></div>
<div class="job-box job-programacao"></div><div class="job-box job-traducao" style="margin-left:0px;"></div>
<div class="job-text"><a href="#">Programação</a></div><div class="job-text" style="margin-left:0px;"><a href="#">Letras</a></div>-->
</div>

<script>
var interval;
var obj;
$('.job-link').hover(function() {
    obj = $(this).children(".job-box");
    interval = setInterval(function(){
      obj.toggleClass( "job-hover" );
    }, 50);

    /*$( this ).animate({
        backgroundPosition: "-150px",
      }, 50, function() {
        // Animation complete.
      });*/
  }, function() {
    clearInterval(interval);
    obj.removeClass( "job-hover" );
    //$( this ).css("background-position", "0px");
  }
);
</script>

<div class="box">
<h4>{% if lang == "en" %}Most recent photo{% else: %}Foto mais recente{% endif %}:</h4>
<span class="inner-box pubs-carousel" style="padding:0;line-height:0;">

{% for photo in right.last_photos: %}
<div class="carousel-cell">
<!--<a href="{{ url_for('static', filename='photos/' + photo["path"]) }}" target="_blank">-->
<a href="{{ url_for('photos') }}"><img src="{{ url_for('static', filename='photos_thumbnails/' + photo["path"].split(".")[0]+"_thumbnail."+photo["path"].split(".")[1]) }}" class="hover-img"></a>
<!--      <img src="#" class="hover-effect">
      <p class="pubs-carousel-view"><a href="#" target="_blank">zoom</a></p>-->
</div>
{% endfor %}
</span>
<div class="tags" style="text-align:right;font-size:12px;"><a href="{{ url_for('photos') }}" class="tags-black">ver todas</a></div>
</div>


<div class="box box-li">
<h4>{% if lang == "en" %}Last blog posts{% else: %}Últimas publicações no Blog{% endif %}:</h4>
<span class="inner-box">
<ul>
{% for post in right.recent_posts: %}
<li><span>{{ post.id }}</span> <a href="{{ url_for('blog', page=post['id']) }}{% if lang =='en': %}?lang=en{% endif %}" style="font-size:14px;">{{ post['title'] }}</a></li>
{% endfor %}
</ul>
</span>
</div>


<div class="box box-li">
<h4>{% if lang == "en" %}Favourite websites{% else: %}Websites preferidos{% endif %}:</h4>
<span class="inner-box">
<ul>
<li><a href="http://www.enormouselk.com/?q=erkkasblog" target="_blank" style="font-size:14px;">Erkka's Blog</a></li>
<li><a href="https://kotaku.com" target="_blank" style="font-size:14px;">Kotaku</a></li>
<li><a href="https://www.quora.com" target="_blank" style="font-size:14px;">Quora</a></li>
<li><a href="https://www.tigsource.com" target="_blank" style="font-size:14px;">TIGSource</a></li>
<li><a href="https://www.stumbleupon.com" target="_blank" style="font-size:14px;">StumbleUpon</a></li>
<li><a href="https://news.ycombinator.com/" target="_blank" style="font-size:14px;">Hacker News</a></li>
<li><a href="http://obviousmag.org" target="_blank" style="font-size:14px;">Obvious</a></li>
<li><a href="https://www.locomalito.com" target="_blank" style="font-size:14px;">Locomalito</a></li>
<li><a href="http://pplware.sapo.pt" target="_blank" style="font-size:14px;">Pplware</a></li>
<li><a href="https://forum.zwame.pt" target="_blank" style="font-size:14px;">Zwame Fórum</a></li>
<li><a href="http://porfalarnoutracoisa.sapo.pt" target="_blank" style="font-size:14px;">Por falar noutra coisa</a></li>
<li><a href="https://www.reddit.com" target="_blank" style="font-size:14px;">Reddit</a></li>
<li><a href="https://imgur.com" target="_blank" style="font-size:14px;">Imgur</a></li>
<li><a href="https://www.tumblr.com" target="_blank" style="font-size:14px;">Tumblr</a></li>
<li><a href="https://9gag.com" target="_blank" style="font-size:14px;">9GAG</a></li>
<li><a href="http://www.4chan.org" target="_blank" style="font-size:14px;">4Chan</a></li>
<li><a href="https://myanimelist.net" target="_blank" style="font-size:14px;">MyAnimeList</a></li>
<li><a href="https://www.youtube.com" target="_blank" style="font-size:14px;">Youtube</a></li>
<li><a href="https://www.wikipedia.org" target="_blank" style="font-size:14px;">Wikipedia</a></li>
</ul>
</span>
</div>

<!--
<div class="box">
<h4>Tags:</h4>
<span class="inner-box">
<p>
- Trabalho
<br>
- Filosofia
<br>
- Espiritualismo
<br>
- Poesia
<br>
- Python
<br>
- Web2py
</p>
</span>
</div>

<div class="box">
<h4>Posts fixos:</h4>
<span class="inner-box">
<p>
- Lista de filmes preferidos
<br>
- Playlist semanal
<br>
- Lista de filmes preferidos
<br>
- Lista de filmes preferidos
</p>
</span>
</div>

<div class="box">
<h4>Últimas atualizações</h4>
<span class="inner-box">
<p>
- Portfólio: novo cartaz
<br>
- Playlist semana atualizada
<br>
- xxx
<br>
- xxx
<br>
- Ver mais
</p>
</span>
</div>-->
{% endif %}

</div><!--right-->
