{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1>{% if lang == "en" %}Shop{% else: %}Serviços{% endif %}</h1>

<div id="job_programming"></div>
<div style="min-height:181px;margin-top:25px;">
<img src="{{ url_for('static', filename='images/nerd_life.jpg') }}" class="shop-img">
<ul style="font-size:15px;">
    <li>Criação de <strong>websites</strong> (principal profissão). Design e programação em código puro e optimizado de qualquer tipo de aplicação web. Não gosto de CMS's nem ferramentas <em>fast food</em>. Tecnologias back-end preferidas: Python, PostgreSQL, Nginx e café. Preços só sob consulta consoante o projeto (penalização para PHP e prazos curtos). Ex.: site em Python, design único, JS moderado, prazo acima de 1 de mês e funcionalidades comuns até 6 páginas: a partir de 500€.</li>
    <li>Instalação/manutenção de <strong>servidores</strong> Linux. Configuração de serviços de alojamento, domínios e SEO.</li>
    <li>Programação de <strong>software</strong>/ferramentas desktop e mobile. Linguagem preferencial: Python (segunda opção: C). GUI's preferidas: TKinter, PyQT, Pyglet; mobile: Kivy. Preços sob consulta.</li>
    </ul>
</div>

<div id="job_design"></div>
<div style="min-height:181px;margin-top:55px;">
<img src="{{ url_for('static', filename='images/paint_skills.jpg') }}" class="shop-img">
<ul style="font-size:15px;">
    <li>Design de cartaz: a partir de 300€; design de logotipo: a partir de 150€.*</li>
    <li>*Gama básica, sem estudo. Gama profissional/imagem corporativa: sob consulta.</li>
    <li>Paginação de livros: a partir de 2€ por página. Design da capa: a partir de 150€.</li>
    <li>Formatação de teses/dissertações: a partir de 300€.</li>
    <li>Montagem/tratamento de fotos: sob consulta. Venda de stock photography (consultar o portfolio).</li>
    </ul>
</div>

<div id="job_computers"></div>
<div style="min-height:181px;margin-top:55px;">
<img src="{{ url_for('static', filename='images/computer_says_no.jpg') }}" class="shop-img">
<ul style="font-size:15px;">
    <li>Formatação de computador: 20€.</li>
    <li>Costumização/instalação de hardware: a partir 30€.</li>
    <li>Limpeza de vírus/recuperação de dados: a partir de 30€.</li>
    <li>Instalação de software: a partir de 10€.</li>
    <li>Modificação de consolas (softmod/hardmod): desde 50€.</li>
    </ul>
</div>

<div id="job_humanities"></div>
<div  style="min-height:181px;margin-top:55px;">
<img src="{{ url_for('static', filename='images/this_is_grammar.jpg') }}" class="shop-img">
<ul style="font-size:15px;">
    <li>Escrita criativa, guionismo, composição de letras musicais: sob consulta.</li>
    <li>Tradução de textos (inglês/espanhol) para português: 0.07€ por palavra.</li>
    <li>Tradução de outras línguas: sob consulta (se for uma língua que desconheço posso sugerir um colega).</li>
    <li>Explicações de qualquer disciplina do 1º ao 12º ano na zona de Braga (fui sempre um dos melhores alunos).</li>
    <!--<li>Ghostwriting: depende do projeto, mas a preguiça tem preço.</li>-->
    <li>Transcrição de áudio; legendagem: sob consulta.</li>
    </ul>
</div>


<br>
<br>

<p style="font-size:15px;"><b>Extra:</b> edição de vídeo (Vegas Pro); experiência com indexação de artigos científicos em bases de dados (metodologia SciELO, Redaly, DOAJ, etc.); registo/configuração de indendificadores bibliográficos (DOI, ISBN, etc.); instalação/configuração de plataformas Open Journal System; formatação de livros e revistas (experiência na criação de plataformas para revistas científicas digitais); experiência em serviços administrativos de Centros I&D, relatórios e candidaturas a projetos; tornearia artesanal de madeira (filho de carpinteiro sabe "carpintar"); etc.</p>

<!--<p>Área principal: criação de websites. Mais de uma década de experiência como web designer/developer full stack e administração de servidores dedicados/VPS Linux (Nginx, Apache). Linguagem back-end preferencial: Python (Web2py, Flask, Bottle). Experiência com PHP, mas evito usar (Python FTW). Domínio das linguagens de marcação HTML (3, 4, 5), CSS (2, 2.1, 3), XML, LaTeX, etc. Experiência com bases de dados SQL (MySQL/MariaDB, PostgreSQL, SQLite) e NoSQL (MongoDB), Flat Files, CSV, JSON, etc. Domínio de Javascript e frameworks derivadas como JQuery. Instalação e manutenção de dezenas de CMS's: Plone, Joomla, Drupal, WordPress, Movuca, Quokka, MediaWiki, Omeka, GreenStone, OJS, etc. Posso fazer manutenção, mas não aceito pedidos de criação de websites fast-food através de CMS's, só programo em código puro e construo templates de raiz, menos do que isso não me dá prazer.</p>-->


<p style="text-transform: uppercase;margin-top:50px;background:#000000;border:1px solid gray;padding:5px 20px;color:#fff;">Disponibilidade atual para novos projetos: <span style="text-ecoration:underline;color:orange;">escassa</span>. Em hibernação até agosto.</p>
<!--<p style="font-size:15px;">*Neste momento tenho pouco tempo livre e a prioridade são projetos pessoais, mas mesmo que não esteja disponível posso sugerir um amigo.</p>-->


<form action="{{ url_for('send_mail_cv') }}"method="post">
<h3 style="margin:55px 0 15px 0;">Pedir orçamento:</h3>
<table class="table-form">
<tr><td>E-mail:</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td>Descrição:</td>
<td><textarea name="info"></textarea></td>
</tr>
<tr>
<td colspan="2" style="text-align:left;">Confirme que não é spam:</td>
</tr>
<tr>
<td colspan="2" style="text-align:left;">{{ recaptcha }}</td>
</tr>
<tr>
<td colspan="2" style="text-align:left;"><input type="hidden" name="type" value="shop"><input type="submit" value="Enviar"></td>
</tr>
</table>
</form>

</form>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
