{% extends "layout.html" %}

{% block content %}
<div id="left">

<h1><i>Sucesso!</i></h1>

<p>Formulário submetido com sucesso! Obrigado.</p>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
