{% extends "layout.html" %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div id="left">

<h1>Blog tag:<span style="background:#ffffff;display:inline-block;"> &nbsp;<em><u>{{ tag }}</u></em></span></h1>

<ul class="posts">
{% for post in posts.items %}
<li style="margin-top:20px;border:1px solid gray;padding:20px 10px;background:#;border-radius:0px;font-size:16px;box-shadow: 3px 3px #999999;">
<article>
<h1 style="background:none;"><span style="background:none;">#{{ post.id }} </span><a href="{{ url_for('blog', page=post.id) }}">{{ post.title }}</a></h1>
<p class="post-text ellipsis">{{ (post.body|striptags)[:300] }}...</p>
{% if post.tags %}<div class="tags" style="display:inline-block;"><span><strong>Tags:</strong></span> {% for t in post["tags"] %}<span class="red-box" style="background:none;color:#333;border:1px solid #333;">{{ t }}</span>{% endfor %}</div>{% endif %}<span class="date" style="display:inline-block;float:right;">{{ post.pub_date }}{# =str(post['data_pub'])[0:-3].replace('-', '/') #}</span>
</article>
</li>
{% endfor %}
</ul>

<!-- Hover li - get link from href and make it global in the li - if js disabled link works normal but only in the text -->
<script type="text/javascript">
$(document).ready(function() {
    /*$('.link').css('display','none');*/
    $('.posts li').hover(function () {
        bgcolor = $(this).css("background-color");
        $(this).css({backgroundColor: "beige", cursor: "pointer"});
        $(this).click(function() {
            window.location=$(this).find("a").attr("href");
            return false;
        });
    },function() {
        $(this).css({backgroundColor: bgcolor});
    });
});
</script>

</div><!--left-->

{% include 'right.html' %}

{% endblock %}
